In [ ]:
#Code to write projects and essay into CSV

In [59]:
import pandas  as pd
Projects = pd.read_csv("opendata_projects000.gz",   escapechar='\\', names=['_projectid', '_teacher_acctid', '_schoolid', 'school_ncesid', 'school_latitude', 'school_longitude', 'school_city', 'school_state', 'school_zip', 'school_metro', 'school_district', 'school_county', 'school_charter', 'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp', 'school_charter_ready_promise', 'teacher_prefix', 'teacher_teach_for_america', 'teacher_ny_teaching_fellow', 'primary_focus_subject', 'primary_focus_area' ,'secondary_focus_subject', 'secondary_focus_area', 'resource_type', 'poverty_level', 'grade_level', 'vendor_shipping_charges', 'sales_tax', 'payment_processing_charges', 'fulfillment_labor_materials', 'total_price_excluding_optional_support', 'total_price_including_optional_support', 'students_reached', 'total_donations', 'num_donors', 'eligible_double_your_impact_match', 'eligible_almost_home_match', 'funding_status', 'date_posted', 'date_completed', 'date_thank_you_packet_mailed', 'date_expiration'])
Projects.to_csv("Projects.csv")

In [7]:
essays = pd.read_csv('opendata_essays.gz', escapechar='\\', names=['_projectid', '_teacherid', 'title', 'short_description', 'need_statement', 'essay', 'thankyou_note', 'impact_letter'])
essays.to_csv("essays.csv")

In [67]:
essays.head(5)

,_projectid,_teacherid,title,short_description,need_statement,essay,thankyou_note,impact_letter
0,0000023f507999464aa2b78875b7e5d6,5ac258059d9c4fc4db5c1a92b7204db0,GOAL: Ordinary Students --> SUCCESSFUL SCIENTISTS,The first step towards academic achievement is...,"My students need Pencils, Crayons, Gluesticks,...",The first step towards academic achievement is...,<br><br>Thank you so much for donating to this...,NaN
1,000009891526c0ade7180f8423792063,6d5b22d39e68c656071a842732c63a0c,OHMS Musician Chair Cart,The music students in our classes perform freq...,My students need a cart to help us manage our ...,The music students in our classes perform freq...,Thank you! Thank you so much for your donatat...,Thank you so much for your support! We cannot...
2,00000ce845c00cbf0686c992fc369df4,1083172499055a6c9f3bb3013ba7742b,Can You Hear Me Now?,Find a way or make one. That's our class motto...,My students need headphones in order to engage...,Find a way or make one. That's our class motto...,I want to thank you for your generosity and yo...,I want to thank you on behalf of all of my stu...
3,00002eb25d60a09c318efbd0797bffb5,7049b78c2fdfb9ec7dc18e93941892a0,Stand Up for Music!,"Despite high poverty, our district excels in t...",My students need music stands!,"Despite high poverty, our district excels in t...",Thank you for your support of music and the fi...,NaN
4,000036e22c5de48109e867c03181cf16,1f995665c38ad223731a6697786c1595,Gearing Up for Greatness - Full STEAM Ahead!,Our school serves Pre-K through Fifth grade st...,"My students need a STEM kits, books, and journ...",Our school serves Pre-K through Fifth grade st...,NaN,NaN

In [60]:

from datetime import datetime
def Filter_records_between_dates(date1,date2):
    Projects['date_posted']=pd.to_datetime(Projects['date_posted'], format='%Y-%m-%d')
    date1 = datetime.strptime(date1, '%Y-%m-%d')
    date2 = datetime.strptime(date2, '%Y-%m-%d')
    Projects_filtered=Projects.loc[(Projects['date_posted']>=date1) & (Projects['date_posted']<date2)]
    return Projects_filtered

In [61]:
Projects_filtered_before_change=Filter_records_between_dates('2010-01-01','2010-01-30')
projects_filtered_after_change=Filter_records_between_dates('2010-03-01','2010-03-30')

In [38]:
Projects['date_posted']=pd.to_datetime(Projects['date_posted'], format='%Y-%m-%d')
date1 = datetime.strptime('2010-02-01', '%Y-%m-%d')
date2 = datetime.strptime('2010-02-18', '%Y-%m-%d')
Projects=Projects.loc[(Projects['date_posted']>='2010-02-01') & (Projects['date_posted']<'2010-02-18')]

In [63]:
projects_filtered_after_change.shape

(5310, 44)

# Left Outer Join

In [64]:
merge_Project_before_change=pd.merge(Projects_filtered_before_change,essays,how='left',left_on=['_projectid'],right_on=['_projectid'])
merge_Project_before_change=pd.merge(projects_filtered_after_change,essays,how='left',left_on=['_projectid'],right_on=['_projectid'])

In [68]:
merge_Project_before_change.head(5)

,_projectid,_teacher_acctid,_schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,date_completed,date_thank_you_packet_mailed,date_expiration,_teacherid,title,short_description,need_statement,essay,thankyou_note,impact_letter
0,b4ff42bd34e30e48c2468963c8f62e18,315ad2fa5dc190c483fd639b35cb406c,5a75048ed4d0a43f448cc43233ca521c,5.101890e+11,37.618627,-77.489022,Henrico,VA,23228.0,suburban,...,NaN,NaN,2010-07-26 00:00:00,315ad2fa5dc190c483fd639b35cb406c,Super Readers Need News and Literature,I would like to provide my second grade studen...,My students need 120 subscriptions to weekly r...,Do you remember what it was like to watch your...,NaN,NaN
1,01be1421de361409081f56d239086006,27b9ac1c0dc7c1937b634170c616c105,747d602a5cd1831f440f4c5bbcf3892b,6.353101e+10,33.730560,-117.850204,Santa Ana,CA,92705.0,suburban,...,NaN,NaN,2010-07-26 00:00:00,27b9ac1c0dc7c1937b634170c616c105,History,My students do not have access to quality hist...,My students need 14 videos about American Hist...,My students do not have access to quality hist...,NaN,NaN
2,b5c9926dbcc0300b1ae6a50222a5036c,a74ebbee60189a1bb109f7794cc2cfe4,667695db0cfad56262a9510347c99cd8,5.515780e+11,43.029655,-88.204849,Waukesha,WI,53186.0,urban,...,NaN,NaN,2010-07-26 00:00:00,a74ebbee60189a1bb109f7794cc2cfe4,Mi Casa es su Casa,My kindergarten students come from many divers...,"My students need a play kitchen set, including...",What is a kindergarten classroom without a hou...,NaN,NaN
3,030f36ae99690990bda77cf0c355eec0,d06352b77e6550a37c1f330680679846,1cd2a574854362f0a685d457dc8ababe,6.344101e+10,37.759357,-122.469395,San Francisco,CA,94122.0,urban,...,2010-07-04 00:00:00,2011-01-11 00:00:00,2010-07-25 00:00:00,d06352b77e6550a37c1f330680679846,More More More Mo Willems!,My students love listening to stories and I lo...,"My students need 1-2 copies of 18 books, inclu...",Do you recall the overwhelming joy you felt as...,I am so looking forward to sharing this fabulo...,Thank you for your generous donation to my cla...
4,b678f7205f478b6a523794f174925b18,bcfaacab12d1fab4a912de13d99f9569,725f4584327ca4b1b0453eae40445191,NaN,38.935089,-76.990097,NaN,DC,20017.0,urban,...,NaN,NaN,2010-07-28 00:00:00,bcfaacab12d1fab4a912de13d99f9569,Bite-sized Edible Science,Bill Nye the Science Guy has made learning sci...,My students need Bill Nye the Science Guy's DV...,Mission Impossible: School Science Fair...pick...,NaN,NaN