In [2]:
import pandas as pd
donations = pd.read_csv('C://Users/Nameetha/Desktop/Stata/opendata_donations000.gz',escapechar='\\', names=['_donationid', '_projectid', '_donor_acctid', '_cartid', 'donor_city', 'donor_state', 'donor_zip', 'is_teacher_acct', 'donation_timestamp', 'donation_to_project', 'donation_optional_support', 'donation_total', 'donation_included_optional_support', 'payment_method', 'payment_included_acct_credit', 'payment_included_campaign_gift_card', 'payment_included_web_purchased_gift_card', 'payment_was_promo_matched','is_teacher_referred', 'giving_page_id', 'giving_page_type', 'for_honoree', 'thank_you_packet_mailed'])
# Filter the data for respective year from donations data
Total_donations_2015=donations[(donations['donation_timestamp'].apply(lambda x:x[0:4]) == '2015')]

giftcards = pd.read_csv('C://Users/Nameetha/Desktop/Stata/opendata_giftcards000.gz', escapechar='\\', names=['_giftcardid', 'dollar_tier', '_buyer_acctid', 'buyer_city', 'buyer_state', 'buyer_zip', 'date_purchased', '_buyer_cartid', '_recipient_acctid', 'recipient_city', 'recipient_state', 'recipient_zip', 'redeemed', 'date_redeemed', '_redeemed_cartid', 'payment_method', 'payment_included_acct_credit', 'payment_included_campaign_gift_card', 'payment_included_web_purchased_gift_card', 'payment_was_promo_matched'])
#print("Filtering data for 2015...")
giftcards_2015=giftcards[(giftcards['date_purchased'].apply(lambda x:x[0:4]) == '2015')]
giftcards_2015_Test=giftcards_2015.groupby(['_recipient_acctid'])[['_recipient_acctid']].count()
giftcards_2015_Test=giftcards_2015_Test.rename(columns = {'_recipient_acctid':'_recipient_acctid_Count'})
giftcards_2015_Test.reset_index(inplace=True)
all_recipient_acctid=pd.DataFrame()
all_recipient_acctid["_recipient_acctid"]=(giftcards_2015_Test['_recipient_acctid'].where(giftcards_2015_Test['_recipient_acctid_Count'] == 1))
all_recipient_acctid = all_recipient_acctid.dropna(how='any',axis=0) 
Gift_Merge_=pd.merge(all_recipient_acctid,giftcards_2015, how='left',left_on=['_recipient_acctid'],right_on=['_recipient_acctid'])

C:\Users\Nameetha\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Total_donations_2015.payment_included_campaign_gift_card.replace(['t', 'f'], [1, 0], inplace=True)
Total_donations_2015.payment_included_web_purchased_gift_card.replace(['t', 'f'], [1, 0], inplace=True)
Final_Total_donations_2015=pd.DataFrame()
Final_Total_donations_2015=Total_donations_2015.loc[ (Total_donations_2015.payment_included_web_purchased_gift_card==1) |
                                                    (Total_donations_2015.payment_included_web_purchased_gift_card==1)]

C:\Users\Nameetha\Anaconda3\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [5]:
Gift_Donation_Merge=pd.merge(Gift_Merge_,Final_Total_donations_2015, how='inner',left_on=['_recipient_acctid',(Gift_Merge_["date_redeemed"]).astype(str).apply(lambda x:x[0:10])],
                     right_on=['_donor_acctid',(Final_Total_donations_2015["donation_timestamp"]).astype(str).apply(lambda x:x[0:10])])

In [6]:
Gift_Donation_Merge.shape

(18201, 44)

In [10]:
Gift_Donation_Merge.payment_method_y.replace(['no_cash_received', 'promo_code_match', 'creditcard', 'paypal',
       'amazon', 'double_your_impact_match', 'check', 'almost_home_match'], [1,0, 0, 0,
      0, 0, 0, 0], inplace=True)

In [20]:
Gift_Donation_Merge["Top_Up"]= ((Gift_Donation_Merge.payment_included_campaign_gift_card_y==1) |
                                                    (Gift_Donation_Merge.payment_included_web_purchased_gift_card_y==1)) & (Gift_Donation_Merge.payment_method_y==0)

In [28]:
Gift_Donation_Merge.to_csv('C://Users/Nameetha/Desktop/Stata/Top_UP_2015_For_Logistic_Regression.csv')

In [23]:
Gift_Donation_Merge

,_recipient_acctid,key_1,_giftcardid,dollar_tier,_buyer_acctid,buyer_city,buyer_state,buyer_zip,date_purchased,_buyer_cartid,...,payment_included_acct_credit_y,payment_included_campaign_gift_card_y,payment_included_web_purchased_gift_card_y,payment_was_promo_matched_y,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed,Top_Up
0,0000fc11407901bcacdfad1db909b9f6,2015-09-04,1b24d914c61e31aec3a6e12dd1abfc34,100_and_up,9962ffe549afce18ad6676142d370bfa,NaN,AL,357.0,2015-09-04,a41c9ec0cca63a763d521e0b2bc49128,...,f,0,1,f,t,560483c6dc1bbbb321972b655b0d2048,teacher,f,f,False
1,00087bdaa579b108e0b96030a33a0065,2015-09-19,fc8928bb140905490c7965a74c72070a,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-19,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
2,000b476cefb172411486ba92e80fbed3,2015-11-11,c0c3a05e8d9080274d33447b2fd0b2a4,10_to_100,cde384c0f20468f64e693b62bf16bf35,Alpharetta,GA,300.0,2015-10-14,37a3e1dade0096862e6585589f58e97a,...,f,0,1,f,f,NaN,NaN,f,f,False
3,000c4bce0a76e3f9e5ebd17615a2483d,2015-11-21,8e346eca2c4b982e31a3f4a5039fc238,100_and_up,10f875467a3d7dc5f247064b4a8e715a,NaN,NY,112.0,2015-11-11,a4b26f39f222a7bf287e8a42dabbb819,...,f,0,1,f,t,c6c108210686919f7bd3507386638e10,teacher,f,f,False
4,000e798165db6e2714d3dd437b239fc2,2015-09-16,6f49859313dfca04ce454006fcba81e8,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-16,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
5,000ecd50f38445843c0abe5cb72fe6f5,2015-10-29,c32817b958e63a0d6d9b84c257ef91b0,10_to_100,4e2aa27aaf03274a0c913ffab52e5c76,NaN,IN,469.0,2015-10-29,7d36e595f4e52e79b48f8adad3517a51,...,f,0,1,f,f,NaN,NaN,f,f,False
6,000fc4c68b8650b76b194a78c79267e2,2015-04-07,4293e5ab5c51d7174f1c038ceae05527,10_to_100,13132adb075321191385af89f35547da,NaN,PA,NaN,2015-04-04,NaN,...,f,0,1,f,t,eac0289190f4c6751472017cf1c837a8,teacher,f,f,False
7,0012ef764a10a44c1a51ec970f4ca78e,2015-10-04,d5e73c589fd36e9f9a076d5b13497a49,10_to_100,bca8cbfdb4d48ecf707a9f0fa51a02a9,Chapel Hill,NC,275.0,2015-09-21,8f2e13ab853061171dd239c24784834a,...,f,0,1,f,f,NaN,NaN,f,f,False
8,00147fccd962ca3313447e8a187c4137,2015-12-15,3f6f798d2860be7495c4e7a756a23380,10_to_100,a5d1abd18d9b237047f9c7e666b8a4e6,San Francisco,CA,941.0,2015-12-07,b1efefe03f06eddd9c6b0e85fee096ab,...,f,0,1,f,f,NaN,NaN,f,f,False
9,00199e3565635f8a5ebefd3b5985a7f3,2015-05-29,7ef8a95a0d61193d19ad5c439e560211,100_and_up,00199e3565635f8a5ebefd3b5985a7f3,Newton,MA,24.0,2015-03-25,NaN,...,f,0,1,f,f,NaN,NaN,f,t,True
10,00242e3fcc3be792a6140fe5791110fc,2015-09-16,80bbad6875aeac30e316b95c83cc56eb,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-16,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
11,002486bf5e60a204a2dc4320e4f2f960,2015-03-12,b88bc5e91c79f12675af83d38d71f701,10_to_100,8468ab104db02b94d96e60f9430437f3,NaN,RI,29.0,2015-02-27,ab3d271b7518a1255ff37cab42142999,...,f,0,1,f,t,b1176e712295be2e9cb9726e0f6bd763,teacher,f,f,False
12,002502d61d443f6dd4db6be152d401d5,2015-09-15,11a8a308a0021a13e79e6143655d66d5,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-15,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
13,00270860ca1bb57ef0edde34e3221f1e,2015-09-16,e7676fdbde61ecb7ad57f0fe95ec2de0,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-16,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
14,00274a0e764f26eea9d04f0556aadd34,2015-09-16,5b25dc3f073cabf7aa6514ea81d4f11a,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-16,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
15,00293e8e4b5fe4daba62131274b3685a,2015-09-17,6022df4656ba69a9798b34201a6bcf10,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-17,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
16,002ab0b1768ae17e1126e8ba03293f3f,2015-04-27,4b328dbedbc2e5f399bcde5a5cfdc546,10_to_100,8f5b034fee44157caa1cf1cd007f5b28,NaN,AZ,852.0,2015-04-27,a084d7332e730ec95deef2ed369dc410,...,f,0,1,f,f,NaN,NaN,f,f,False
17,002db601ebf05f7e54afe3da1efbf898,2015-11-18,bb1044f6ce9a3fb74a9b5cca755bfe29,100_and_up,9e4b275b3215b5214a45da35d6b910b2,NaN,MO,640.0,2015-09-21,32ff36a22c480e6dc5a7f37540d760fd,...,f,0,1,f,t,3812ae8697e58a099e4207fea0a00363,teacher,f,f,False
18,002e7c59babf4acd1504cd92b7912c34,2015-11-01,f4871cd8c2d697e1c1faf3c6b90092a3,10_to_100,aef5be2e5c9eb4ec51dd87fda57524db,NaN,GA,303.0,2015-10-31,5a0a43cc8f2bbb94460207c2fc9848fe,...,f,0,1,f,t,c873ca875da01844f24249b574b21b1e,teacher,f,f,False
19,003176d788d240cb8c0dfaf89fbb4f25,2015-09-15,0abe77673a50e18e60cdd0a26354dea5,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-15,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
20,00318a5ff65b60071208de8906bd6674,2015-01-17,5b71aa966a9e14cbba1b99f3b8078965,100_and_up,cc05db4ebb213e429edd9a3ef639e59e,Windermere,FL,347.0,2015-01-08,NaN,...,f,0,1,f,t,69240d89d17f91a2fd92bca9f1579602,teacher,f,f,False
21,00445fd0fe2a7d536421ada5eeff7e0a,2015-09-15,9dd3848901b2a1c92ab0251561d35419,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-15,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
22,0048bee3d669fed2f1fbd2524ac0cbe8,2015-11-01,0f66384cb8b2d0989e9cf408d31af653,10_to_100,768e9243c9f32477d10ae4082bad6972,NaN,FL,327.0,2015-11-01,44614c20f380b56361099a11ee3f5806,...,f,0,1,f,t,08ea62f899ac752fa51349a0ddc4f8aa,teacher,f,f,False
23,004ce816acbd45125077ba5909922e9a,2015-10-27,5324973317d34bf0358945e26e6f5d31,100_and_up,97ea363dfab23b6c0d85326179f8083d,NaN,MI,494.0,2015-03-19,4f5ae9c51472b23a89d8412a0a9c67cb,...,f,0,1,f,t,d015706db01f19b0bcc51a97c5994123,teacher,f,f,False
24,004d23b28cc70f784f1316bbcfd7f884,2015-09-20,e4c8dbcbeadcd3ddaaf18d927da2e15d,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-20,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
25,004f36ec92b9ef7ad277e5ff8af4fe29,2015-11-10,b2e5a318fdb7a2ccff5c961463fc5e22,10_to_100,911979ace4a0f013ab2160b495e350aa,Fort Lee,NJ,70.0,2015-11-03,7fdda96056d797be3235944c35cd3883,...,f,0,1,f,t,9e7353e1068ef823670b3edd92e7a33f,teacher,f,f,False
26,00567a2b7092acc86b4d0f4855db7949,2015-10-13,757b8c682994f59c10850a20ef46851e,10_to_100,145ea659f057ae556b5399ed3bf08767,NaN,FL,325.0,2015-10-13,dbb1c2fb74f93100ef9334dcf58e19fa,...,f,0,1,f,f,NaN,NaN,f,f,False
27,00589b11dd54d68b0950555262ed8475,2015-04-13,f5d605b2d9e90082aec126640c730df9,100_and_up,13249011e304a49bf5a2c795ac8f7e06,NaN,,NaN,2015-04-09,16a9e7284259d3dd97c59ee0a6438a60,...,f,0,1,f,f,NaN,NaN,f,t,False
28,00589b11dd54d68b0950555262ed8475,2015-04-13,f5d605b2d9e90082aec126640c730df9,100_and_up,13249011e304a49bf5a2c795ac8f7e06,NaN,,NaN,2015-04-09,16a9e7284259d3dd97c59ee0a6438a60,...,f,0,1,f,f,NaN,NaN,f,t,False
29,00589b11dd54d68b0950555262ed8475,2015-04-13,f5d605b2d9e90082aec126640c730df9,100_and_up,13249011e304a49bf5a2c795ac8f7e06,NaN,,NaN,2015-04-09,16a9e7284259d3dd97c59ee0a6438a60,...,f,0,1,f,f,NaN,NaN,f,t,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18171,ff70975a4866febd779e292ea92b3dbf,2015-10-11,9ec2e3631d68f58e6eff2d73b531a477,10_to_100,8f5e163e0f39e42ecaedca7892a295c4,NaN,ID,835.0,2015-09-02,334640076b93c9003826fa2fe59045e5,...,f,0,1,f,t,9b657418c5bb7218e749d9056645944f,teacher,f,f,False
18172,ff8cec75a5f6c916222e781adde4ed32,2015-09-15,de2d5e69aa280604fcb7463503f85414,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-15,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
18173,ff8f0b30433e247e635df10765150867,2015-12-20,f5d92e1407d4179e09e64d3f0f320b21,100_and_up,40fc2e995e01410d8b0fbd82c15dfd84,NaN,WA,980.0,2015-10-16,958e6b26c29e18aacb71cabaa4924e1c,...,f,0,1,f,f,NaN,NaN,f,f,False
18174,ff90d8b4c328599e0ec35c56bc5754eb,2015-02-17,6cb2025b1abd8a27e9dc074c22829f74,100_and_up,e365b6af20b8404202d190a0e8af75a2,NaN,CA,945.0,2015-02-16,d822036848c52f2a33622f98c4f2d7ff,...,f,0,1,f,t,e5a0609ee8b0e23a1474b08bdb15fdca,teacher,f,f,False
18175,ffa110e81f4780f6b2baa9b3c3c3fa07,2015-07-12,783740f6fc1da511915f24c7088b945b,10_to_100,c51dcc2f5edbb24a2a24235bc6b78330,NaN,NaN,NaN,2015-06-12,1990461157f20292ee6a9c514f4dd73f,...,f,0,1,f,f,NaN,NaN,f,f,False
18176,ffa21fb538808f355435ce4cbbcb149f,2015-10-23,afac6e86dbff4e990b4567c194bc6fca,10_to_100,a5ad7b7875ab46f98fee52ba20bf9567,NaN,SC,298.0,2015-10-08,NaN,...,f,0,1,f,t,977bd7628f6165974b9ed7dd0f655c4e,teacher,f,f,False
18177,ffa554cb230cc10675d7858b4bab736b,2015-08-01,fd27c25e46128dc87062897fa2a6ddc7,10_to_100,0266b65fec00d4f1805ff90c4ad40ca9,NaN,NC,280.0,2015-07-27,f8e5c1580e70f27bb2812caa755e4737,...,f,0,1,f,t,1e20dad3929eeb2baa9b57ca2314a50c,teacher,f,f,False
18178,ffb61f20b3d9b67ea4927736ba50ee62,2015-12-24,2c5dc2950e1bcdf27eeaadae51cf4dc2,100_and_up,8a21c3a35080669db5dfd91d29493402,New York,NY,100.0,2015-12-14,85508c1111c301e5439fb3393790cfed,...,f,0,1,f,f,NaN,NaN,f,f,False
18179,ffbb6946d00c2301d9ae0c222bbfa89d,2015-05-25,8c6fe7826d096598346d8df4c024b644,10_to_100,6d8703ee358bd6146d5d4a287a1674e2,NaN,MD,212.0,2015-01-09,75326b1762acab08325c00199de4150f,...,f,0,1,f,f,NaN,NaN,f,t,False
18180,ffc0c6f5e5b72bb851eec15f99fc2d26,2015-01-25,79b50c08566a5b731f249e8f1010f079,10_to_100,9f0d076131911ffe86f8fc82be8a8ccb,NaN,TX,760.0,2015-01-21,82af8e0f4097fe8f9d66d9a84d70d428,...,f,0,1,f,t,476b9d905eeedfe3af44e5a9dd6e00ad,teacher,f,f,False
18181,ffc125809bec514e71ef6b5420f114dd,2015-09-15,a46db6f45134af2f574ede6af33d5371,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-15,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
18182,ffc3ba2719af3fd83b724519259f0214,2015-09-16,2cee93851f2fe6032bdbbe69da62e98d,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-16,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
18183,ffc69cb96efd8e49127745557065002a,2015-02-03,068f9ad6b2b887d166b6f093edbfdf63,10_to_100,7b0741789ac27fc58b64b1b47893c3a1,NaN,PA,190.0,2015-02-02,f5d3a5fbab965d58ca712aea742f5b90,...,f,0,1,f,t,1a7df1cbe0de67c91cd847c073c857be,teacher,f,f,False
18184,ffca247110c6e501f79d1e14c422b8b5,2015-12-09,96190ff535fd9daa4955c286c5d1ea33,10_to_100,3f2ae6022f93bd760cb7ce47c783d35a,NaN,CA,941.0,2015-11-02,fbf2697abcbcc3ec3d1eaff10dd940b1,...,f,0,1,f,f,NaN,NaN,f,f,False
18185,ffca41c4b829d50a0de7bd27b660cbeb,2015-09-15,6230926bdb2818c63c14f64764da8cd2,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-15,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
18186,ffca490376830886c7a4d11bd3402e2f,2015-02-18,46144ab303d58a3ce15037987b45f4fc,100_and_up,f72acd5fcc06e3a0fa45dc34f5e32f09,NaN,MD,209.0,2015-02-18,87cf1676b520625608e8c23bbb2ea0d3,...,f,0,1,f,t,99619ea086fb18323120cc3bb1c83298,teacher,f,f,False
18187,ffcaf3182636a3249f6c30a67c2ce6e3,2015-09-16,9ab1e09d85aac7c0679ec210337997e1,10_to_100,ffcaf3182636a3249f6c30a67c2ce6e3,NaN,NY,112.0,2015-08-21,08dfe33f53419423daa003fd840a56bc,...,f,0,1,f,f,NaN,NaN,f,f,True
18188,ffcf57871742729607337e92d35219a6,2015-03-20,d144f286243f69c1e0d0a54a73b067e5,10_to_100,fcd8009d267f840b3b2f891e8c4f76b9,NaN,AK,998.0,2015-03-11,1534d93b6ba91d2f2f880b0e6719d76e,...,f,0,1,f,f,NaN,NaN,f,f,False
18189,ffd2797fb1a6170b584f826542538e1f,2015-08-25,af9d6ed459afbcc613a8eeaa8fb7e3f6,10_to_100,ffd2797fb1a6170b584f826542538e1f,Tucson,AZ,857.0,2015-08-22,09726436d4bc8867340a9a3952b62b6e,...,f,0,1,f,f,NaN,NaN,f,f,False
18190,ffd4c74b23fec1dff9ad29ed6cb333ce,2015-12-08,6369a9254f5fa255fd667ffdf2734f5a,10_to_100,92e090a8964ffef36fe73e96ff9a2770,NaN,MA,20.0,2015-12-02,72fb0f2d84946b42e6b60d7dd46eb285,...,f,0,1,f,f,46662ebbde05dafc2683b660a621793c,campaign,f,f,False
18191,ffd5b7389f5746cf3a9572f1b7e8e44e,2015-04-28,8d61caf8e2044cd75b0e91fff5281d4d,10_to_100,508bae3ec399d6ccd859b4c84dcefb3a,NaN,IL,606.0,2015-03-27,367a4a61b82b361b9be094fe6828eb32,...,f,0,1,f,f,NaN,NaN,f,f,False
18192,ffd805eb5a666e30105f5047a574297e,2015-09-16,2a0221f3f186e49f709708eb24ea4b30,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-16,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
18193,ffdaddaf1f80464e36841786f51ab801,2015-09-16,9f2d6150e6a900932f7f3ad2d1c30aa5,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-16,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
18194,ffdf7a7b00cf9dedc84e8ea95d57ed7b,2015-12-25,bc48bc83e9504f6a2837b6550e0c5d41,10_to_100,ffdf7a7b00cf9dedc84e8ea95d57ed7b,NaN,NY,148.0,2015-08-23,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
18195,ffe2bc3ad7c4c27ce205866d436f70bd,2015-07-07,62129feda199fec173f3bdfa7dea6354,10_to_100,b69f0a4db08a89cc905572d2cbaa6833,NaN,NY,142.0,2015-07-06,9f0ce92152ebc823f2cd7584235857c0,...,f,0,1,f,t,c5d4b23237d98671a115905a4b940e82,teacher,f,f,False
18196,ffe8c3677057c3ad34a26db2b9c7cde6,2015-09-17,9b1f2944c78c352f98b674e4991e1553,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-17,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
18197,ffe94867c126d0da30b3d1e7931352d5,2015-06-05,332f3b3f10df8b18aaf657582365307c,10_to_100,6b4821218d8b42803876b8eaa2b11b03,Chapel Hill,NC,275.0,2015-03-20,f4f73f8b081ca6e4df6e810fa9e01668,...,f,0,1,f,f,NaN,NaN,f,f,False
18198,fff2ba3dd9afd55dbf13bfb3cfd79350,2015-09-17,cdc30a95d96b8fc71b3c4777971cbdd0,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-17,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
18199,fff4c80603fda7973e10c2b083e09e04,2015-10-15,a5c76703feb1dab29e46c4a5a9c614d9,10_to_100,8e9faa23a03f7a11f9ea8d2f6e0a2ab1,NaN,CO,802.0,2015-09-21,NaN,...,f,0,1,f,t,d1d6165b688b15596188d45d4768d114,teacher,f,f,False
18200,fffc109f8eb0f207ab91aa48fedd1bc0,2015-09-15,35bf4cd5fa17874605a899dc6910c908,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-15,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False