In [1]:
import pandas as pd

In [2]:

donations = pd.read_csv('C://Users/Nameetha/Desktop/Stata/opendata_donations000.gz',escapechar='\\', 
                        names=['_donationid', '_projectid', '_donor_acctid', '_cartid', 'donor_city', 
                               'donor_state', 'donor_zip', 'is_teacher_acct', 'donation_timestamp', 
                               'donation_to_project', 'donation_optional_support', 'donation_total', 
                               'donation_included_optional_support', 'payment_method', 'payment_included_acct_credit', 
                               'payment_included_campaign_gift_card', 'payment_included_web_purchased_gift_card', 
                               'payment_was_promo_matched','is_teacher_referred', 'giving_page_id', 
                               'giving_page_type', 'for_honoree', 'thank_you_packet_mailed'])

In [3]:
donations = pd.read_csv('C:/Users/vivek4/Downloads/donorschoose_data/opendata_donations000.gz',escapechar='\\', 
                        names=['_donationid', '_projectid', '_donor_acctid', '_cartid', 'donor_city', 
                               'donor_state', 'donor_zip', 'is_teacher_acct', 'donation_timestamp', 
                               'donation_to_project', 'donation_optional_support', 'donation_total', 
                               'donation_included_optional_support', 'payment_method', 'payment_included_acct_credit', 
                               'payment_included_campaign_gift_card', 'payment_included_web_purchased_gift_card', 
                               'payment_was_promo_matched','is_teacher_referred', 'giving_page_id', 
                               'giving_page_type', 'for_honoree', 'thank_you_packet_mailed'])

In [4]:
donations.shape

(6211956, 23)

In [3]:
#tabulate column is_teacher_acct.
# we need to remove donations from teacher account from our analysis
# since they are not part of our target population
pd.crosstab(donations.is_teacher_acct, columns=['is_teacher_acct'])

col_0            is_teacher_acct
is_teacher_acct
f                        5289704
t                         922252

In [4]:
# Filter the data for respective year from donations data
donations_2015=donations[(donations['donation_timestamp'].apply(lambda x:x[0:4]) == '2015')]

In [6]:
donations_2015.shape

(1101603, 23)

In [10]:
#tabulate column is_teacher_acct.
# we need to remove donations from teacher account from our analysis
# since they are not part of our target population
pd.crosstab(donations_2015.is_teacher_acct, columns=['is_teacher_acct'])

col_0            is_teacher_acct
is_teacher_acct
f                         907792
t                         193811

df.loc[df['column_name'] == some_value]

In [5]:
donations_2015_without_teacher_transactions=donations_2015.loc[donations_2015['is_teacher_acct']=="f"]

In [6]:
donations_2015_without_teacher_transactions.shape

(907792, 23)

In [7]:
donations_2015_without_teacher_transactions.head(5)

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
12,00002b6d53ed2ce021d762d3cba3c386,dec978da13b188f28dcf322bcf74e215,80c5148505230a7f24812abfbe7c1741,92825edd8a526a7f7d5db5dcfaeb4f00,NaN,NM,871.0,f,2015-02-24 15:39:24.65,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
21,00004c31ce07c22148ee37acd0f814b9,50fdc93ff0120bc0b2566e726c60cb7b,549c82a35dea77d96330fafd400e50e0,a61cf86a7bb67d4d6c9f8e69f6385ac7,NaN,CA,917.0,f,2015-07-02 10:02:12.278,42.50,...,creditcard,f,f,f,t,t,ae7ee9a5c526ff2cf36df24e2a1c6ffe,teacher,t,t
35,0000654dfc6a3b1cfeeb257ff1855fce,3542b9e2b6e354e33c0b2bea07396fae,afe35211a8cdaa5ac9ad7b2aa229ccad,6afefaa450cc2ac084da027e73ca371c,NaN,OH,444.0,f,2015-11-11 11:37:45.375,17.00,...,creditcard,f,f,f,f,t,aa2bd38b92a9aa2c1a5268651bd278e1,teacher,f,f
40,000076a483ecc66717b0d517f7fef3cd,cea1ebdab099856e5123f58c24f3b729,f5c43657050b01cc255967d85d1ab9ce,NaN,Burlington,NJ,80.0,f,2015-12-09 21:03:01.128,8.50,...,promo_code_match,f,f,f,f,f,8fce05ecbad7f981dc1b35f5abeaf4ed,campaign,f,t
44,00008a62460f74b882f311a6b7c8d0ce,9ac6594c849f7e7819b97788838df039,a769ba11855d767c99311294138208c2,a2d51aab57872568cdf36adb5b260b67,NaN,WA,981.0,f,2015-01-12 11:07:39.044,12.75,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f

In [8]:
pd.crosstab(donations_2015_without_teacher_transactions.payment_method, columns=['payment_method'])

col_0                     payment_method
payment_method
almost_home_match                   3205
amazon                             29270
check                               1532
creditcard                        333848
double_your_impact_match           23917
no_cash_received                  191015
paypal                            129327
promo_code_match                  195678

In [65]:
donations_2015_without_teacher_transactions_remove_matching.head(5)

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
12,00002b6d53ed2ce021d762d3cba3c386,dec978da13b188f28dcf322bcf74e215,80c5148505230a7f24812abfbe7c1741,92825edd8a526a7f7d5db5dcfaeb4f00,NaN,NM,871.0,f,2015-02-24 15:39:24.65,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
21,00004c31ce07c22148ee37acd0f814b9,50fdc93ff0120bc0b2566e726c60cb7b,549c82a35dea77d96330fafd400e50e0,a61cf86a7bb67d4d6c9f8e69f6385ac7,NaN,CA,917.0,f,2015-07-02 10:02:12.278,42.50,...,creditcard,f,f,f,t,t,ae7ee9a5c526ff2cf36df24e2a1c6ffe,teacher,t,t
35,0000654dfc6a3b1cfeeb257ff1855fce,3542b9e2b6e354e33c0b2bea07396fae,afe35211a8cdaa5ac9ad7b2aa229ccad,6afefaa450cc2ac084da027e73ca371c,NaN,OH,444.0,f,2015-11-11 11:37:45.375,17.00,...,creditcard,f,f,f,f,t,aa2bd38b92a9aa2c1a5268651bd278e1,teacher,f,f
44,00008a62460f74b882f311a6b7c8d0ce,9ac6594c849f7e7819b97788838df039,a769ba11855d767c99311294138208c2,a2d51aab57872568cdf36adb5b260b67,NaN,WA,981.0,f,2015-01-12 11:07:39.044,12.75,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
54,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,f,2015-02-03 10:41:16.087,20.18,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f

In [ ]:
#lets drop the rows related to two matching conditions 
# shown above- (1) almost_home_match (2) promo_code_match

In [9]:
#donations_2015_without_teacher_transactions=donations_2015.loc[donations_2015['is_teacher_acct']=="f"]
donations_2015_without_teacher_transactions_remove_matching=donations_2015_without_teacher_transactions.loc[donations_2015_without_teacher_transactions['payment_method']!=
                                                "almost_home_match"]

In [10]:
donations_2015_without_teacher_transactions_remove_matching.shape

(904587, 23)

In [11]:
donations_2015_without_teacher_transactions_remove_matching=donations_2015_without_teacher_transactions_remove_matching.loc[donations_2015_without_teacher_transactions_remove_matching['payment_method']!=
                                                "promo_code_match"]

In [12]:
donations_2015_without_teacher_transactions_remove_matching=donations_2015_without_teacher_transactions_remove_matching.loc[donations_2015_without_teacher_transactions_remove_matching['payment_method']!=
                                                "double_your_impact_match"]

In [66]:
donations_2015_without_teacher_transactions_remove_matching=donations_2015_without_teacher_transactions_remove_matching.loc[donations_2015_without_teacher_transactions_remove_matching['payment_included_acct_credit']==
                                                "f"]

In [13]:
donations_2015_without_teacher_transactions_remove_matching.shape

(684992, 23)

In [14]:
donations_2015_without_teacher_transactions_remove_matching

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
12,00002b6d53ed2ce021d762d3cba3c386,dec978da13b188f28dcf322bcf74e215,80c5148505230a7f24812abfbe7c1741,92825edd8a526a7f7d5db5dcfaeb4f00,NaN,NM,871.0,f,2015-02-24 15:39:24.65,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
21,00004c31ce07c22148ee37acd0f814b9,50fdc93ff0120bc0b2566e726c60cb7b,549c82a35dea77d96330fafd400e50e0,a61cf86a7bb67d4d6c9f8e69f6385ac7,NaN,CA,917.0,f,2015-07-02 10:02:12.278,42.50,...,creditcard,f,f,f,t,t,ae7ee9a5c526ff2cf36df24e2a1c6ffe,teacher,t,t
35,0000654dfc6a3b1cfeeb257ff1855fce,3542b9e2b6e354e33c0b2bea07396fae,afe35211a8cdaa5ac9ad7b2aa229ccad,6afefaa450cc2ac084da027e73ca371c,NaN,OH,444.0,f,2015-11-11 11:37:45.375,17.00,...,creditcard,f,f,f,f,t,aa2bd38b92a9aa2c1a5268651bd278e1,teacher,f,f
44,00008a62460f74b882f311a6b7c8d0ce,9ac6594c849f7e7819b97788838df039,a769ba11855d767c99311294138208c2,a2d51aab57872568cdf36adb5b260b67,NaN,WA,981.0,f,2015-01-12 11:07:39.044,12.75,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
54,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,f,2015-02-03 10:41:16.087,20.18,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
64,0000af8b5eafbd57fa87273ba1fa32e6,d532c0804fc4eca6bfead9b7354d3683,2c5906972c6dd055403fbdcd03ab259e,1fd3cabf3d01ec793b709a8744b32776,NaN,NaN,NaN,f,2015-12-01 08:54:43.271,8.50,...,paypal,f,f,f,f,t,da43c44227f66dc401048d8cd17db435,teacher,f,f
65,0000afd927e5e4dfad32f7fd81d7262a,984c0ae6626194d551b21c4b569c9f80,328a087d929740c67d022611d2b7665f,8cb70b8d4615c1789a53e9256f5e9bfd,NaN,,NaN,f,2015-11-10 18:32:26.71,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
82,0000c4c5350920abde3465ae2c0d5c0b,bcc957d8a9c4708e93fa1f0719a4820c,9b6cf6a9fdc4557566bef4f31ca52085,f6a376a1f12248925c8e561a2af8a3d6,NaN,NaN,NaN,f,2015-12-08 14:31:54.832,85.00,...,paypal,f,f,f,f,f,NaN,NaN,f,f
95,0000dc7181614041845fdaed6f0fb8ae,fddbc5d6d00e1af25e42b102fc27c73d,0114b341d3e9848c7631cd1c74dc7635,94b9d0f822454205ab5a5e142367abf9,NaN,NC,281.0,f,2015-01-14 13:38:01.031,37.18,...,creditcard,f,f,f,t,f,NaN,NaN,f,f
98,0000e456f28cb005650217180d4e4ccf,47ecd918298efcafe9d7804bf4e712ef,0f7429c111e99fa2588c84c7ec631012,30a2325c242db5e11b2d68540aca0b68,NaN,OH,458.0,f,2015-07-24 19:41:11.383,63.75,...,creditcard,f,f,f,f,t,9dbffcdb2fb07f62fd69bd242505a8d5,teacher,f,f
103,0000f1748fd589e16c2de9478b983b19,a260af23b9d739ec2afea37a0fb3e8e9,5527d8e87fff1fd202419a4206064cdb,40734187ffaf57e0fe3067049e250fb6,NaN,PA,185.0,f,2015-09-09 10:19:49.217,42.50,...,creditcard,f,f,f,t,t,6295c13af34aff885fc09a05b09e74bc,teacher,f,f
105,0000f752ed573a760cd140a46399ded2,3ae3127810b7f5d734dc76d6ea11bd47,2a3d0aa5f20387f1ffd625f7d20f6afd,6558d7e7b933c93591cd880d3071d05f,Newport News,VA,236.0,f,2015-08-18 21:50:21.919,42.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
116,00010f886e2e07ccf4c95fc211665b6e,5d71538ab05bebdacffc490ba46112e9,38b09106f3f78712a744ea4708be738a,99b460209c3e4ff146c833901fc67ca4,NaN,CT,68.0,f,2015-10-08 08:47:50.515,8.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
120,0001159d13601a582dda846f252ec4c1,148260e804c5ebbb3fc140c28d6ca15b,68c355078d2e13b3d0ec6f887f9bca9c,ae73e181516a4ba2b55769fc4a27e987,NaN,IL,NaN,f,2015-06-07 12:55:52.668,6.72,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
126,00012542a5854090c7f4beacb10c1f92,ef53f81fded73a258d0b9526531e9e00,6b6a0b3f44e6337c06467483ec12deaa,7a445090ad49a54916aba2b6b15f87ff,NaN,MO,640.0,f,2015-11-11 20:01:43.616,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
132,0001349d10c5f48417b012530a303af3,9bf1dea647c17b740a902dfc5f639dce,a9bbe4a81f087ae8f25ff651601a9257,9aff19bf1c0c37bdd7059faf9fc5f2c0,NaN,NY,100.0,f,2015-06-23 20:47:57.309,1739.97,...,check,t,f,f,f,f,NaN,NaN,f,f
155,00016a8df533917c073ce3bffe6f25ee,8ccd54dce2912dc6706495dd0be34f56,e09bd9ea31d067e9584d90a08670997e,94c0a51de49bca7f34b8d8daa97b214f,NaN,NV,890.0,f,2015-01-23 15:59:51.107,5.10,...,no_cash_received,t,f,f,f,f,NaN,NaN,f,f
162,000173cabb5355dce3263e28596b50ad,bd45d643424c3d20049d0170e0740427,ccaacc81db28e3056484828edfb5171b,b2467c31e43261158c1e6c808bad306c,Estherville,IA,513.0,f,2015-09-03 20:43:04.294,42.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,t
168,00018379bfe300eb5b7d4312ca7b1275,3acf88e3454eb64889a16b47e4d8d772,b34bdb6fed5ac27c16fe95daa59422f2,0b8ec43b1c0c871cdfd6d5bfdc0d58e8,San Francisco,CA,941.0,f,2015-11-02 13:16:37.838,811.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,t
169,0001837e7b9d49ba15e158b45f7b52c3,463215c8a3dd905bc091838b592bd141,61734f6a4bbfa3d277f487401e2ae55a,653f3c21f995846e5326510545690734,NaN,MO,640.0,f,2015-02-12 09:44:01.92,0.85,...,creditcard,f,f,f,t,t,b70e537c26b4129d675610c69225a574,teacher,f,f
172,0001928daddac3792f6f3358103e5fd7,eaad7453042d83aa8e5d62d7d445d0cb,04fa2f28b60dd11e1b329ea1cb03544b,959ddc4da21b4de1f37ebc24b826df8c,NaN,NaN,NaN,f,2015-09-29 18:36:15.236,50.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
188,0001c0085689636a2a9038bbb2bc23d7,1a60b7abb6563d9093b87c2b759546d7,fdd9a65ad7f048055d8a130a3ad3aafe,681293221f0f321bc9c09eea84079490,NaN,TX,787.0,f,2015-12-21 16:57:10.956,12.75,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
191,0001c98711262e2748e24d0d98e4e76e,5a942c1a2d2d0116a0a2e2dc67127f0c,68c355078d2e13b3d0ec6f887f9bca9c,c2d205a62822a5d39154c2284e015ba6,NaN,IL,NaN,f,2015-04-01 20:37:39.362,6.72,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
213,0001fa37e5098201147dbb9e77d13a65,5df98033d4f70a4f694c82dee7724dc3,fbfe8451ed8688bb67d4846c728c2747,3c104561ede7ecf5bd809cc77fcb7fa0,San Jose,CA,951.0,f,2015-12-28 12:00:54.132,432.43,...,paypal,f,f,t,f,f,NaN,NaN,f,f
216,00020057c446c937e9ef959cb1c02c0f,530474ab1465d026f13a91ff413e797a,62bd4a05b21519524ae796d08c1d5761,e91f27d74f8f17b9f3bf053972a59125,NaN,FL,334.0,f,2015-04-17 09:44:14.493,123.33,...,creditcard,f,f,f,t,t,a60912e4e3d9a74eebd2daaa4ebd29bc,teacher,f,f
218,000206f08d5a34317575381529150f84,f41958e9b4deb38896846abb5fd7021d,6f3e31e34d1f1d5d3888376de3331f35,ef54de3e9a9641e2578234a1a4299a2b,NaN,MD,212.0,f,2015-10-09 12:37:02.224,50.00,...,amazon,f,f,f,t,t,6d31cbb81a4395af4c1d1989a2d8c1ed,teacher,f,f
226,00021e9722349bebbde50d27a605c856,7780e5dacb615cc6243fa7af1315438e,df54d4ee5ca2ea35097e4a0d1efcc60d,7ac06b722a1ac93ce9ec7bb484fa3b11,NaN,AZ,850.0,f,2015-12-02 10:13:30.26,21.25,...,no_cash_received,f,t,f,f,f,NaN,NaN,f,f
229,00022f77af2d2bada4f49a5a62953b09,8bc1a697ff32a10ef0ca1940b05405ff,dd91c6bb535182a4172558cbcd3d40ca,56372a3fbfa53ceb653e222b9bf5732a,NaN,WA,982.0,f,2015-09-20 01:53:19.537,21.25,...,paypal,f,f,f,f,f,NaN,NaN,f,f
235,0002443a44b824416f673f935fb6c2bd,a898c91eda715e204791b2658aae27c0,328a087d929740c67d022611d2b7665f,d37c533f2f514fedbf6325ac6ccb50e6,NaN,,NaN,f,2015-11-13 01:14:21.675,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
239,000253421fb8b207dc2b9d3d879bcf44,f7d0760f66a54bb44d15f53bcd40c2ac,4d5414deeb8f835ee40219ddb73b252f,1d7edf206f33ee24c6dfea7829816988,Saint Louis,MO,631.0,f,2015-12-01 17:09:13.648,127.50,...,creditcard,f,f,f,f,t,c60de089625b3426b7464a9e458769ff,teacher,f,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6211723,fffdb5921cf53484d09555825501770b,4fc08c01d0264ad4a8916f94a3b803c7,4c766d55ea75d32a6db5046005f396b7,e8d9e3998e91720ed41c3c8dfb1b0338,Indianapolis,IN,462.0,f,2015-08-02 14:21:03.782,42.50,...,creditcard,f,f,f,t,t,4d6be089d377aa564c0a8b1d2838b52c,teacher,f,t
6211733,fffdd4b76a5225efc439fa735e6d58cf,7546b47750ea9aed66fc582cee933c09,d006be7223c048ae8b2bdedd7dd2b4db,aeaaadd1c63eb187388eb792a3906763,Tyngsboro,MA,18.0,f,2015-08-20 15:01:01.742,310.73,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211740,fffde793cb35a06f792a18dec316ccdc,a2228e763751708a478514d0420050a8,2464b9e95941a9b292341a504e8b2d3c,c571ef8956eb3a23d7ae41b2157f4ad4,NaN,NY,117.0,f,2015-11-11 07:00:56.771,42.50,...,creditcard,f,f,f,f,t,0a4d809e42c0b8c11e21ccbeb589193c,teacher,f,f
6211745,fffdef8f3e26c769764bf36dbe9aa840,c5c256f9f1aa24bae65609be4f5dfbef,99c01df3ec59185de058ae6ae3137b76,f4fa5797511bd47910ab2a0b52bd2580,NaN,CT,64.0,f,2015-12-17 21:32:18.266,85.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211749,fffdf7bdde157a320d24f187601cd43b,f83715ed611bd120f37b72d0532f16cb,09e5422633936fa10d0b840de6f05549,73e5855419067f3ce9367ea219a89173,NaN,MA,18.0,f,2015-12-20 20:06:31.956,21.25,...,creditcard,f,f,f,t,t,3823e099ccf5cf7b70ba576425e9cb52,teacher,f,f
6211765,fffe1601facb9072bdbd12ab7ae80d64,c39b68b3c94ef42c1436ed227c6649e9,fa705a7614061d3bfcdb13c981b4dee4,745b772643500e7ae0aac02e1fd49f4e,NaN,OH,441.0,f,2015-04-15 09:33:28.091,42.50,...,paypal,f,f,f,t,t,8b9995c9a5436548ce9ad89a551b04f5,teacher,f,f
6211769,fffe1a0f46c4689ef13eb1dbb3d1deab,081741b4de57d7acebaed1aefcf471f9,86e81a7343c86daaffd10d25fb929da7,5c435baf8a35ccf46ff1de252a517cea,Stony Brook,NY,117.0,f,2015-02-25 06:27:46.799,150.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211770,fffe1cb65b48407e0ec719d556bc37ea,22d23ac42511e3df23a32eb9a0a276e0,a4e4d4390150d7ca4a740708db0de49b,da59806bdb8f690d344b1bac0161eb8d,NaN,DE,199.0,f,2015-10-26 22:43:32.083,21.25,...,creditcard,f,f,f,t,t,4859a6e2bd3c36cd2ac2a8bf19a4e80e,teacher,f,f
6211778,fffe2bdf8cc98b6d1ffdb44db1d5a1ef,01e0d1cc1b6623e76b99c2ca31f1680b,2aafd1b11d9290effacadb0fbc3cac6d,04f069820b5c0f7fce179ffa7eaf0a15,NaN,NaN,NaN,f,2015-06-26 09:29:30.804,44.00,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211779,fffe2c5ac07b259c995093f29818ec40,68679fa66260d9a593662e3cf9140454,437fa041c38dcc2a4d96915ccb9c8e53,99242b17da49423560cc3ad4e5a0695b,Beaufort,SC,299.0,f,2015-04-23 17:21:59.469,73.66,...,creditcard,f,f,f,f,f,NaN,NaN,f,t
6211787,fffe4524ed7a2a0bf068c72748836d0f,6e6be3c9bf2e1f9e7382b30db40915ee,f14b4301907a3787b688b873774d2f9a,4e4784a67dd3ce9643acfb029313934d,NaN,NaN,351.0,f,2015-08-01 21:15:16.843,21.25,...,amazon,f,f,f,t,t,3326f36b624d7a67a98b6ae15c01965d,teacher,f,f
6211790,fffe4cf76fb27fd7211538d8b7baf2a8,59915936d290031619c54911f4f4eeaa,328a087d929740c67d022611d2b7665f,8145c3f8dbfe51ed97c63e2f4cda20b5,NaN,,NaN,f,2015-11-17 16:23:09.344,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
6211798,fffe5cb25f5aaaf3025d731f1ccb7e5e,44ed2f73166a633d07d9bf27d127e284,22635fb1e7c4cb237c141fa4d3b713f1,1e6e6f969de72447a3eb79afd56a4596,NaN,NC,277.0,f,2015-07-03 12:26:02.54,21.25,...,creditcard,f,f,f,f,t,a4b64e5f057f19168f9cd950c7923362,teacher,f,f
6211805,fffe6a0b2410c884f2d68cba705d70e5,11a305ed0596155a0c5c9e1e135cfa67,9f653d3f901ab565fb9b80e7e783abf2,c667b5941c4f89ed33a0907920147509,NaN,VA,222.0,f,2015-12-04 19:13:07.809,28.05,...,amazon,f,f,f,t,f,NaN,NaN,f,f
6211828,fffea37065ebf6ae4e3cf55f9ea11fce,b3bfaadd2bb79360bc81e3f86b251934,eafb124462af8cbbed507f18d3280525,35c4bfbe3a9b46443fac3f1d5633153b,NaN,MA,23.0,f,2015-12-01 14:11:53.571,21.25,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211838,fffeb52c9d2b03c0843feab219e72688,2cb36dd50df9fd6716fd9576e8dacc72,265e9f3bc70b828b0b946323cd586f7e,b0a38766c6128d0da1bbde890e1ecbe8,Bakersfield,CA,933.0,f,2015-11-15 15:55:44.692,4.25,...,no_cash_received,t,f,f,f,f,d89d7f63dae9f6e8ceccad198c02de20,campaign,f,f
6211842,fffec5c641cecc603612183f2e50fd57,137c8a8c41991d2cf2a76548fc74573f,4b39135cff4a77268210daa9875b5c43,3081e97842e4924a8030ccced65e85f1,NaN,NY,130.0,f,2015-09-29 22:47:25.353,8.50,...,creditcard,f,f,f,f,t,41e82083283a7254d1ce074b6cf0b3a9,teacher,f,f
6211854,fffef9adac6006a2fb9db05cfd69d009,732b9aa74b35565c3d634e61f34db37a,d5728ac0f98a7007fd91c57a7d52f2fd,3c1fb631e0c7527c4ed62d441fdd4530,NaN,NaN,NaN,f,2015-09-18 14:51:52.288,10.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
6211870,ffff26109ebf71037db2a14742c77cfd,d2ce9c5d4b1e582fcb547ecb21895277,d92d981359cc6149c6b58042049d1061,ec08ca686e4dda6e141281ac52283656,NaN,NC,275.0,f,2015-02-19 13:52:46.33,21.25,...,paypal,f,f,f,t,t,be7fe0db0b974005cd462efd17e55c95,teacher,f,f
6211872,ffff3137124db70375501d48538e50dc,fa130bfd9a5bbf0d0804c387c270737a,682a8c6d77712f3c52185bc97e908fe6,f83156da739a4609bcdf968acf8848b0,NaN,NY,100.0,f,2015-03-02 08:54:21.859,254.03,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211873,ffff35fa4c44800b7127613b7dbbd4ce,6d2fffa68f62b9869db75e4d166dd0c4,e7ead6c46672fe7d9fed09af03801c41,84a185909209fe4ef9036b1990b9cd76,NaN,CA,933.0,f,2015-05-05 02:44:58.579,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211887,ffff58393885ea316519d7852f22c930,39d22ca66b07302a89298fcbaf528b85,5f8a31b40158a3881c423f19cbe43336,76b71d22076662d0b050261ebb406423,NaN,NaN,NaN,f,2015-05-04 00:13:40.82,170.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
6211893,ffff6019c44c138b6a7d6e9ab7728a54,5260a7d4811629ee7f838a55be9b31fc,96c37c5650ed5e8429df19797023de35,ef5bb616cf1265dcedc2fa067ca2bc4c,NaN,NaN,NaN,f,2015-05-19 00:21:19.80,225.05,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211910,ffff876759c7e68f4b8062fad07d3f19,f6191dfb6168a0a3bba7d88a2691f003,be5e2779b8522e2f1efe6244346ddf43,98d0858800c716456608c4ad178e6d26,San Diego,CA,921.0,f,2015-04-02 01:49:16.573,68.13,...,no_cash_received,t,f,f,f,f,NaN,NaN,f,t
6211914,ffff8ce7981194b8a08b7f57cdb967b9,fb55a5ca2abf93fabfe912c5783ab3c5,27fa7268652892095ac328ef3f3bdafe,2dd3291e033a7f8d118cbf9063706f6b,Marietta,GA,300.0,f,2015-05-08 14:30:02.987,56.79,...,amazon,t,f,f,f,f,NaN,NaN,f,t
6211925,ffffa4eac406cf61c160528032651844,fb89cd956a995228c5dd4cf99320e18c,d0c0e9bdf5f6672e1f904412432ab96e,09d3a322c69fd706b079ee953d2b3461,NaN,OK,740.0,f,2015-07-19 07:57:03.062,39.90,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211929,ffffa9bc330a059987824f513dd89634,986e263ed1129b43d8fb58cdc8e0f320,328a087d929740c67d022611d2b7665f,3089c09a021786e5a22c5b0c9c1aa3ab,NaN,,NaN,f,2015-10-25 17:26:13.098,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
6211936,ffffc2258f60c320032aba082221d2c3,d947ae2a23d3c4bedfa2118da1968203,8036695f6736ad7474a5eba49b330f5b,97959136d6cdae570b2a851e27b3b918,NaN,PA,168.0,f,2015-11-02 23:29:21.936,85.00,...,amazon,f,f,f,f,t,cbaaeeb10af71cb0981dfff92ee19b69,teacher,f,f
6211945,ffffe07f350099b2b91cac35bc484975,9dfee9a266925bbf21d57f7f7f1833cd,5297621b44203b895c68bebc9243c96c,3f9c4a1a054c2ab38475edd296cdc088,Indianapolis,IN,462.0,f,2015-03-06 18:59:45.574,8.50,...,paypal,f,f,f,t,t,5821891ab57293d17a52b56108d3b634,teacher,f,f
6211949,ffffeb7b06828ffed052b299a144f824,8d04768c483c10bb2cd5b54ff811b85a,2b7ad72a7f6b6a1860aba53226aa1056,b7e39fad06c039803b26573a75f0d64c,NaN,WI,530.0,f,2015-10-15 18:09:42.732,8.50,...,creditcard,f,f,f,f,t,69a90070c63683550ff90367e558d9c8,teacher,f,f

In [15]:
pd.crosstab(donations_2015_without_teacher_transactions_remove_matching.is_teacher_acct, columns=['is_teacher_acct'])

col_0            is_teacher_acct
is_teacher_acct
f                         684992

In [16]:
pd.crosstab(donations_2015_without_teacher_transactions_remove_matching.payment_method, columns=['payment_method'])

col_0             payment_method
payment_method
amazon                     29270
check                       1532
creditcard                333848
no_cash_received          191015
paypal                    129327

In [17]:
donations=donations_2015_without_teacher_transactions_remove_matching

In [37]:
donations

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
12,00002b6d53ed2ce021d762d3cba3c386,dec978da13b188f28dcf322bcf74e215,80c5148505230a7f24812abfbe7c1741,92825edd8a526a7f7d5db5dcfaeb4f00,NaN,NM,871.0,f,2015-02-24 15:39:24.65,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
21,00004c31ce07c22148ee37acd0f814b9,50fdc93ff0120bc0b2566e726c60cb7b,549c82a35dea77d96330fafd400e50e0,a61cf86a7bb67d4d6c9f8e69f6385ac7,NaN,CA,917.0,f,2015-07-02 10:02:12.278,42.50,...,creditcard,f,f,f,t,t,ae7ee9a5c526ff2cf36df24e2a1c6ffe,teacher,t,t
35,0000654dfc6a3b1cfeeb257ff1855fce,3542b9e2b6e354e33c0b2bea07396fae,afe35211a8cdaa5ac9ad7b2aa229ccad,6afefaa450cc2ac084da027e73ca371c,NaN,OH,444.0,f,2015-11-11 11:37:45.375,17.00,...,creditcard,f,f,f,f,t,aa2bd38b92a9aa2c1a5268651bd278e1,teacher,f,f
44,00008a62460f74b882f311a6b7c8d0ce,9ac6594c849f7e7819b97788838df039,a769ba11855d767c99311294138208c2,a2d51aab57872568cdf36adb5b260b67,NaN,WA,981.0,f,2015-01-12 11:07:39.044,12.75,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
54,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,f,2015-02-03 10:41:16.087,20.18,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
64,0000af8b5eafbd57fa87273ba1fa32e6,d532c0804fc4eca6bfead9b7354d3683,2c5906972c6dd055403fbdcd03ab259e,1fd3cabf3d01ec793b709a8744b32776,NaN,NaN,NaN,f,2015-12-01 08:54:43.271,8.50,...,paypal,f,f,f,f,t,da43c44227f66dc401048d8cd17db435,teacher,f,f
65,0000afd927e5e4dfad32f7fd81d7262a,984c0ae6626194d551b21c4b569c9f80,328a087d929740c67d022611d2b7665f,8cb70b8d4615c1789a53e9256f5e9bfd,NaN,,NaN,f,2015-11-10 18:32:26.71,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
82,0000c4c5350920abde3465ae2c0d5c0b,bcc957d8a9c4708e93fa1f0719a4820c,9b6cf6a9fdc4557566bef4f31ca52085,f6a376a1f12248925c8e561a2af8a3d6,NaN,NaN,NaN,f,2015-12-08 14:31:54.832,85.00,...,paypal,f,f,f,f,f,NaN,NaN,f,f
95,0000dc7181614041845fdaed6f0fb8ae,fddbc5d6d00e1af25e42b102fc27c73d,0114b341d3e9848c7631cd1c74dc7635,94b9d0f822454205ab5a5e142367abf9,NaN,NC,281.0,f,2015-01-14 13:38:01.031,37.18,...,creditcard,f,f,f,t,f,NaN,NaN,f,f
98,0000e456f28cb005650217180d4e4ccf,47ecd918298efcafe9d7804bf4e712ef,0f7429c111e99fa2588c84c7ec631012,30a2325c242db5e11b2d68540aca0b68,NaN,OH,458.0,f,2015-07-24 19:41:11.383,63.75,...,creditcard,f,f,f,f,t,9dbffcdb2fb07f62fd69bd242505a8d5,teacher,f,f
103,0000f1748fd589e16c2de9478b983b19,a260af23b9d739ec2afea37a0fb3e8e9,5527d8e87fff1fd202419a4206064cdb,40734187ffaf57e0fe3067049e250fb6,NaN,PA,185.0,f,2015-09-09 10:19:49.217,42.50,...,creditcard,f,f,f,t,t,6295c13af34aff885fc09a05b09e74bc,teacher,f,f
105,0000f752ed573a760cd140a46399ded2,3ae3127810b7f5d734dc76d6ea11bd47,2a3d0aa5f20387f1ffd625f7d20f6afd,6558d7e7b933c93591cd880d3071d05f,Newport News,VA,236.0,f,2015-08-18 21:50:21.919,42.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
116,00010f886e2e07ccf4c95fc211665b6e,5d71538ab05bebdacffc490ba46112e9,38b09106f3f78712a744ea4708be738a,99b460209c3e4ff146c833901fc67ca4,NaN,CT,68.0,f,2015-10-08 08:47:50.515,8.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
120,0001159d13601a582dda846f252ec4c1,148260e804c5ebbb3fc140c28d6ca15b,68c355078d2e13b3d0ec6f887f9bca9c,ae73e181516a4ba2b55769fc4a27e987,NaN,IL,NaN,f,2015-06-07 12:55:52.668,6.72,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
126,00012542a5854090c7f4beacb10c1f92,ef53f81fded73a258d0b9526531e9e00,6b6a0b3f44e6337c06467483ec12deaa,7a445090ad49a54916aba2b6b15f87ff,NaN,MO,640.0,f,2015-11-11 20:01:43.616,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
132,0001349d10c5f48417b012530a303af3,9bf1dea647c17b740a902dfc5f639dce,a9bbe4a81f087ae8f25ff651601a9257,9aff19bf1c0c37bdd7059faf9fc5f2c0,NaN,NY,100.0,f,2015-06-23 20:47:57.309,1739.97,...,check,t,f,f,f,f,NaN,NaN,f,f
155,00016a8df533917c073ce3bffe6f25ee,8ccd54dce2912dc6706495dd0be34f56,e09bd9ea31d067e9584d90a08670997e,94c0a51de49bca7f34b8d8daa97b214f,NaN,NV,890.0,f,2015-01-23 15:59:51.107,5.10,...,no_cash_received,t,f,f,f,f,NaN,NaN,f,f
162,000173cabb5355dce3263e28596b50ad,bd45d643424c3d20049d0170e0740427,ccaacc81db28e3056484828edfb5171b,b2467c31e43261158c1e6c808bad306c,Estherville,IA,513.0,f,2015-09-03 20:43:04.294,42.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,t
168,00018379bfe300eb5b7d4312ca7b1275,3acf88e3454eb64889a16b47e4d8d772,b34bdb6fed5ac27c16fe95daa59422f2,0b8ec43b1c0c871cdfd6d5bfdc0d58e8,San Francisco,CA,941.0,f,2015-11-02 13:16:37.838,811.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,t
169,0001837e7b9d49ba15e158b45f7b52c3,463215c8a3dd905bc091838b592bd141,61734f6a4bbfa3d277f487401e2ae55a,653f3c21f995846e5326510545690734,NaN,MO,640.0,f,2015-02-12 09:44:01.92,0.85,...,creditcard,f,f,f,t,t,b70e537c26b4129d675610c69225a574,teacher,f,f
172,0001928daddac3792f6f3358103e5fd7,eaad7453042d83aa8e5d62d7d445d0cb,04fa2f28b60dd11e1b329ea1cb03544b,959ddc4da21b4de1f37ebc24b826df8c,NaN,NaN,NaN,f,2015-09-29 18:36:15.236,50.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
188,0001c0085689636a2a9038bbb2bc23d7,1a60b7abb6563d9093b87c2b759546d7,fdd9a65ad7f048055d8a130a3ad3aafe,681293221f0f321bc9c09eea84079490,NaN,TX,787.0,f,2015-12-21 16:57:10.956,12.75,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
191,0001c98711262e2748e24d0d98e4e76e,5a942c1a2d2d0116a0a2e2dc67127f0c,68c355078d2e13b3d0ec6f887f9bca9c,c2d205a62822a5d39154c2284e015ba6,NaN,IL,NaN,f,2015-04-01 20:37:39.362,6.72,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
213,0001fa37e5098201147dbb9e77d13a65,5df98033d4f70a4f694c82dee7724dc3,fbfe8451ed8688bb67d4846c728c2747,3c104561ede7ecf5bd809cc77fcb7fa0,San Jose,CA,951.0,f,2015-12-28 12:00:54.132,432.43,...,paypal,f,f,t,f,f,NaN,NaN,f,f
216,00020057c446c937e9ef959cb1c02c0f,530474ab1465d026f13a91ff413e797a,62bd4a05b21519524ae796d08c1d5761,e91f27d74f8f17b9f3bf053972a59125,NaN,FL,334.0,f,2015-04-17 09:44:14.493,123.33,...,creditcard,f,f,f,t,t,a60912e4e3d9a74eebd2daaa4ebd29bc,teacher,f,f
218,000206f08d5a34317575381529150f84,f41958e9b4deb38896846abb5fd7021d,6f3e31e34d1f1d5d3888376de3331f35,ef54de3e9a9641e2578234a1a4299a2b,NaN,MD,212.0,f,2015-10-09 12:37:02.224,50.00,...,amazon,f,f,f,t,t,6d31cbb81a4395af4c1d1989a2d8c1ed,teacher,f,f
226,00021e9722349bebbde50d27a605c856,7780e5dacb615cc6243fa7af1315438e,df54d4ee5ca2ea35097e4a0d1efcc60d,7ac06b722a1ac93ce9ec7bb484fa3b11,NaN,AZ,850.0,f,2015-12-02 10:13:30.26,21.25,...,no_cash_received,f,t,f,f,f,NaN,NaN,f,f
229,00022f77af2d2bada4f49a5a62953b09,8bc1a697ff32a10ef0ca1940b05405ff,dd91c6bb535182a4172558cbcd3d40ca,56372a3fbfa53ceb653e222b9bf5732a,NaN,WA,982.0,f,2015-09-20 01:53:19.537,21.25,...,paypal,f,f,f,f,f,NaN,NaN,f,f
235,0002443a44b824416f673f935fb6c2bd,a898c91eda715e204791b2658aae27c0,328a087d929740c67d022611d2b7665f,d37c533f2f514fedbf6325ac6ccb50e6,NaN,,NaN,f,2015-11-13 01:14:21.675,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
239,000253421fb8b207dc2b9d3d879bcf44,f7d0760f66a54bb44d15f53bcd40c2ac,4d5414deeb8f835ee40219ddb73b252f,1d7edf206f33ee24c6dfea7829816988,Saint Louis,MO,631.0,f,2015-12-01 17:09:13.648,127.50,...,creditcard,f,f,f,f,t,c60de089625b3426b7464a9e458769ff,teacher,f,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6211723,fffdb5921cf53484d09555825501770b,4fc08c01d0264ad4a8916f94a3b803c7,4c766d55ea75d32a6db5046005f396b7,e8d9e3998e91720ed41c3c8dfb1b0338,Indianapolis,IN,462.0,f,2015-08-02 14:21:03.782,42.50,...,creditcard,f,f,f,t,t,4d6be089d377aa564c0a8b1d2838b52c,teacher,f,t
6211733,fffdd4b76a5225efc439fa735e6d58cf,7546b47750ea9aed66fc582cee933c09,d006be7223c048ae8b2bdedd7dd2b4db,aeaaadd1c63eb187388eb792a3906763,Tyngsboro,MA,18.0,f,2015-08-20 15:01:01.742,310.73,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211740,fffde793cb35a06f792a18dec316ccdc,a2228e763751708a478514d0420050a8,2464b9e95941a9b292341a504e8b2d3c,c571ef8956eb3a23d7ae41b2157f4ad4,NaN,NY,117.0,f,2015-11-11 07:00:56.771,42.50,...,creditcard,f,f,f,f,t,0a4d809e42c0b8c11e21ccbeb589193c,teacher,f,f
6211745,fffdef8f3e26c769764bf36dbe9aa840,c5c256f9f1aa24bae65609be4f5dfbef,99c01df3ec59185de058ae6ae3137b76,f4fa5797511bd47910ab2a0b52bd2580,NaN,CT,64.0,f,2015-12-17 21:32:18.266,85.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211749,fffdf7bdde157a320d24f187601cd43b,f83715ed611bd120f37b72d0532f16cb,09e5422633936fa10d0b840de6f05549,73e5855419067f3ce9367ea219a89173,NaN,MA,18.0,f,2015-12-20 20:06:31.956,21.25,...,creditcard,f,f,f,t,t,3823e099ccf5cf7b70ba576425e9cb52,teacher,f,f
6211765,fffe1601facb9072bdbd12ab7ae80d64,c39b68b3c94ef42c1436ed227c6649e9,fa705a7614061d3bfcdb13c981b4dee4,745b772643500e7ae0aac02e1fd49f4e,NaN,OH,441.0,f,2015-04-15 09:33:28.091,42.50,...,paypal,f,f,f,t,t,8b9995c9a5436548ce9ad89a551b04f5,teacher,f,f
6211769,fffe1a0f46c4689ef13eb1dbb3d1deab,081741b4de57d7acebaed1aefcf471f9,86e81a7343c86daaffd10d25fb929da7,5c435baf8a35ccf46ff1de252a517cea,Stony Brook,NY,117.0,f,2015-02-25 06:27:46.799,150.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211770,fffe1cb65b48407e0ec719d556bc37ea,22d23ac42511e3df23a32eb9a0a276e0,a4e4d4390150d7ca4a740708db0de49b,da59806bdb8f690d344b1bac0161eb8d,NaN,DE,199.0,f,2015-10-26 22:43:32.083,21.25,...,creditcard,f,f,f,t,t,4859a6e2bd3c36cd2ac2a8bf19a4e80e,teacher,f,f
6211778,fffe2bdf8cc98b6d1ffdb44db1d5a1ef,01e0d1cc1b6623e76b99c2ca31f1680b,2aafd1b11d9290effacadb0fbc3cac6d,04f069820b5c0f7fce179ffa7eaf0a15,NaN,NaN,NaN,f,2015-06-26 09:29:30.804,44.00,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211779,fffe2c5ac07b259c995093f29818ec40,68679fa66260d9a593662e3cf9140454,437fa041c38dcc2a4d96915ccb9c8e53,99242b17da49423560cc3ad4e5a0695b,Beaufort,SC,299.0,f,2015-04-23 17:21:59.469,73.66,...,creditcard,f,f,f,f,f,NaN,NaN,f,t
6211787,fffe4524ed7a2a0bf068c72748836d0f,6e6be3c9bf2e1f9e7382b30db40915ee,f14b4301907a3787b688b873774d2f9a,4e4784a67dd3ce9643acfb029313934d,NaN,NaN,351.0,f,2015-08-01 21:15:16.843,21.25,...,amazon,f,f,f,t,t,3326f36b624d7a67a98b6ae15c01965d,teacher,f,f
6211790,fffe4cf76fb27fd7211538d8b7baf2a8,59915936d290031619c54911f4f4eeaa,328a087d929740c67d022611d2b7665f,8145c3f8dbfe51ed97c63e2f4cda20b5,NaN,,NaN,f,2015-11-17 16:23:09.344,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
6211798,fffe5cb25f5aaaf3025d731f1ccb7e5e,44ed2f73166a633d07d9bf27d127e284,22635fb1e7c4cb237c141fa4d3b713f1,1e6e6f969de72447a3eb79afd56a4596,NaN,NC,277.0,f,2015-07-03 12:26:02.54,21.25,...,creditcard,f,f,f,f,t,a4b64e5f057f19168f9cd950c7923362,teacher,f,f
6211805,fffe6a0b2410c884f2d68cba705d70e5,11a305ed0596155a0c5c9e1e135cfa67,9f653d3f901ab565fb9b80e7e783abf2,c667b5941c4f89ed33a0907920147509,NaN,VA,222.0,f,2015-12-04 19:13:07.809,28.05,...,amazon,f,f,f,t,f,NaN,NaN,f,f
6211828,fffea37065ebf6ae4e3cf55f9ea11fce,b3bfaadd2bb79360bc81e3f86b251934,eafb124462af8cbbed507f18d3280525,35c4bfbe3a9b46443fac3f1d5633153b,NaN,MA,23.0,f,2015-12-01 14:11:53.571,21.25,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211838,fffeb52c9d2b03c0843feab219e72688,2cb36dd50df9fd6716fd9576e8dacc72,265e9f3bc70b828b0b946323cd586f7e,b0a38766c6128d0da1bbde890e1ecbe8,Bakersfield,CA,933.0,f,2015-11-15 15:55:44.692,4.25,...,no_cash_received,t,f,f,f,f,d89d7f63dae9f6e8ceccad198c02de20,campaign,f,f
6211842,fffec5c641cecc603612183f2e50fd57,137c8a8c41991d2cf2a76548fc74573f,4b39135cff4a77268210daa9875b5c43,3081e97842e4924a8030ccced65e85f1,NaN,NY,130.0,f,2015-09-29 22:47:25.353,8.50,...,creditcard,f,f,f,f,t,41e82083283a7254d1ce074b6cf0b3a9,teacher,f,f
6211854,fffef9adac6006a2fb9db05cfd69d009,732b9aa74b35565c3d634e61f34db37a,d5728ac0f98a7007fd91c57a7d52f2fd,3c1fb631e0c7527c4ed62d441fdd4530,NaN,NaN,NaN,f,2015-09-18 14:51:52.288,10.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
6211870,ffff26109ebf71037db2a14742c77cfd,d2ce9c5d4b1e582fcb547ecb21895277,d92d981359cc6149c6b58042049d1061,ec08ca686e4dda6e141281ac52283656,NaN,NC,275.0,f,2015-02-19 13:52:46.33,21.25,...,paypal,f,f,f,t,t,be7fe0db0b974005cd462efd17e55c95,teacher,f,f
6211872,ffff3137124db70375501d48538e50dc,fa130bfd9a5bbf0d0804c387c270737a,682a8c6d77712f3c52185bc97e908fe6,f83156da739a4609bcdf968acf8848b0,NaN,NY,100.0,f,2015-03-02 08:54:21.859,254.03,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211873,ffff35fa4c44800b7127613b7dbbd4ce,6d2fffa68f62b9869db75e4d166dd0c4,e7ead6c46672fe7d9fed09af03801c41,84a185909209fe4ef9036b1990b9cd76,NaN,CA,933.0,f,2015-05-05 02:44:58.579,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211887,ffff58393885ea316519d7852f22c930,39d22ca66b07302a89298fcbaf528b85,5f8a31b40158a3881c423f19cbe43336,76b71d22076662d0b050261ebb406423,NaN,NaN,NaN,f,2015-05-04 00:13:40.82,170.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
6211893,ffff6019c44c138b6a7d6e9ab7728a54,5260a7d4811629ee7f838a55be9b31fc,96c37c5650ed5e8429df19797023de35,ef5bb616cf1265dcedc2fa067ca2bc4c,NaN,NaN,NaN,f,2015-05-19 00:21:19.80,225.05,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211910,ffff876759c7e68f4b8062fad07d3f19,f6191dfb6168a0a3bba7d88a2691f003,be5e2779b8522e2f1efe6244346ddf43,98d0858800c716456608c4ad178e6d26,San Diego,CA,921.0,f,2015-04-02 01:49:16.573,68.13,...,no_cash_received,t,f,f,f,f,NaN,NaN,f,t
6211914,ffff8ce7981194b8a08b7f57cdb967b9,fb55a5ca2abf93fabfe912c5783ab3c5,27fa7268652892095ac328ef3f3bdafe,2dd3291e033a7f8d118cbf9063706f6b,Marietta,GA,300.0,f,2015-05-08 14:30:02.987,56.79,...,amazon,t,f,f,f,f,NaN,NaN,f,t
6211925,ffffa4eac406cf61c160528032651844,fb89cd956a995228c5dd4cf99320e18c,d0c0e9bdf5f6672e1f904412432ab96e,09d3a322c69fd706b079ee953d2b3461,NaN,OK,740.0,f,2015-07-19 07:57:03.062,39.90,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211929,ffffa9bc330a059987824f513dd89634,986e263ed1129b43d8fb58cdc8e0f320,328a087d929740c67d022611d2b7665f,3089c09a021786e5a22c5b0c9c1aa3ab,NaN,,NaN,f,2015-10-25 17:26:13.098,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
6211936,ffffc2258f60c320032aba082221d2c3,d947ae2a23d3c4bedfa2118da1968203,8036695f6736ad7474a5eba49b330f5b,97959136d6cdae570b2a851e27b3b918,NaN,PA,168.0,f,2015-11-02 23:29:21.936,85.00,...,amazon,f,f,f,f,t,cbaaeeb10af71cb0981dfff92ee19b69,teacher,f,f
6211945,ffffe07f350099b2b91cac35bc484975,9dfee9a266925bbf21d57f7f7f1833cd,5297621b44203b895c68bebc9243c96c,3f9c4a1a054c2ab38475edd296cdc088,Indianapolis,IN,462.0,f,2015-03-06 18:59:45.574,8.50,...,paypal,f,f,f,t,t,5821891ab57293d17a52b56108d3b634,teacher,f,f
6211949,ffffeb7b06828ffed052b299a144f824,8d04768c483c10bb2cd5b54ff811b85a,2b7ad72a7f6b6a1860aba53226aa1056,b7e39fad06c039803b26573a75f0d64c,NaN,WI,530.0,f,2015-10-15 18:09:42.732,8.50,...,creditcard,f,f,f,f,t,69a90070c63683550ff90367e558d9c8,teacher,f,f

In [18]:
# lets drop the column 'is_teacher_acct' since all values are 
# false

donation=donations.drop(['is_teacher_acct'],axis=1)

In [19]:
giftcards = pd.read_csv('C://Users/Nameetha/Desktop/Stata/opendata_giftcards000.gz', 
                        escapechar='\\', names=['_giftcardid', 'dollar_tier', '_buyer_acctid', 'buyer_city', 
                                                'buyer_state', 'buyer_zip', 'date_purchased', '_buyer_cartid', 
                                                '_recipient_acctid', 'recipient_city', 'recipient_state', 
                                                'recipient_zip', 'redeemed', 'date_redeemed', '_redeemed_cartid', 
                                                'payment_method', 'payment_included_acct_credit', 
                                                'payment_included_campaign_gift_card', 
                                                'payment_included_web_purchased_gift_card', 'payment_was_promo_matched'])

C:\Users\Nameetha\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
giftcards = pd.read_csv('C://Users/vivek4/Downloads/donorschoose_data/opendata_giftcards000.gz', 
                        escapechar='\\', names=['_giftcardid', 'dollar_tier', '_buyer_acctid', 'buyer_city', 
                                                'buyer_state', 'buyer_zip', 'date_purchased', '_buyer_cartid', 
                                                '_recipient_acctid', 'recipient_city', 'recipient_state', 
                                                'recipient_zip', 'redeemed', 'date_redeemed', '_redeemed_cartid', 
                                                'payment_method', 'payment_included_acct_credit', 
                                                'payment_included_campaign_gift_card', 
                                                'payment_included_web_purchased_gift_card', 'payment_was_promo_matched'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
giftcards.shape

(1053024, 20)

In [21]:
#print("Filtering data for 2015...")
giftcards_2015=giftcards[(giftcards['date_purchased'].apply(lambda x:x[0:4]) == '2015')]

In [13]:
giftcards_2015.shape

(355862, 20)

In [14]:
#lets drop the donations which are done by teachers

Group data by recipient account id '_recipient_acctid'

In [22]:
giftcards_2015_Test=giftcards_2015.groupby(['_recipient_acctid'])[['_recipient_acctid']].count()

In [14]:
giftcards_2015_Test.shape

(53920, 1)

In [15]:
giftcards_2015_Test.head(5)

                                  _recipient_acctid
_recipient_acctid
00002eb25d60a09c318efbd0797bffb5                  1
0000d299ce46c8375f29f7bb792b9eae                  1
0000fc11407901bcacdfad1db909b9f6                  1
0001c6641864a240eff74544a3596acf                  1
0001f63e9437ebbba6ddaae0664037a7                  4

In [23]:
giftcards_2015_Test=giftcards_2015_Test.rename(columns = {'_recipient_acctid':'Number_of_giftcard_received'})

In [24]:
giftcards_2015_Test.head(5)

                                  Number_of_giftcard_received
_recipient_acctid
00002eb25d60a09c318efbd0797bffb5                            1
0000d299ce46c8375f29f7bb792b9eae                            1
0000fc11407901bcacdfad1db909b9f6                            1
0001c6641864a240eff74544a3596acf                            1
0001f63e9437ebbba6ddaae0664037a7                            4

In [25]:
giftcards_2015_Test.reset_index(inplace=True)

In [26]:
giftcards_2015_Test.head(5)

                  _recipient_acctid  Number_of_giftcard_received
0  00002eb25d60a09c318efbd0797bffb5                            1
1  0000d299ce46c8375f29f7bb792b9eae                            1
2  0000fc11407901bcacdfad1db909b9f6                            1
3  0001c6641864a240eff74544a3596acf                            1
4  0001f63e9437ebbba6ddaae0664037a7                            4

In [27]:
all_recipient_acctid=pd.DataFrame()

In [28]:
all_recipient_acctid.head(5)

Empty DataFrame
Columns: []
Index: []

In [30]:







all_recipient_acctid["_recipient_acctid"]=(giftcards_2015_Test['_recipient_acctid'].where(giftcards_2015_Test['Number_of_giftcard_received'] == 1))
all_recipient_acctid = all_recipient_acctid.dropna(how='any',axis=0) 
Gift_Merge_=pd.merge(all_recipient_acctid,giftcards_2015, how='left',left_on=['_recipient_acctid'],right_on=['_recipient_acctid'])

In [39]:
donation.head(5)

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,donation_timestamp,donation_to_project,donation_optional_support,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
12,00002b6d53ed2ce021d762d3cba3c386,dec978da13b188f28dcf322bcf74e215,80c5148505230a7f24812abfbe7c1741,92825edd8a526a7f7d5db5dcfaeb4f00,NaN,NM,871.0,2015-02-24 15:39:24.65,21.25,3.75,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
21,00004c31ce07c22148ee37acd0f814b9,50fdc93ff0120bc0b2566e726c60cb7b,549c82a35dea77d96330fafd400e50e0,a61cf86a7bb67d4d6c9f8e69f6385ac7,NaN,CA,917.0,2015-07-02 10:02:12.278,42.50,7.50,...,creditcard,f,f,f,t,t,ae7ee9a5c526ff2cf36df24e2a1c6ffe,teacher,t,t
35,0000654dfc6a3b1cfeeb257ff1855fce,3542b9e2b6e354e33c0b2bea07396fae,afe35211a8cdaa5ac9ad7b2aa229ccad,6afefaa450cc2ac084da027e73ca371c,NaN,OH,444.0,2015-11-11 11:37:45.375,17.00,3.00,...,creditcard,f,f,f,f,t,aa2bd38b92a9aa2c1a5268651bd278e1,teacher,f,f
44,00008a62460f74b882f311a6b7c8d0ce,9ac6594c849f7e7819b97788838df039,a769ba11855d767c99311294138208c2,a2d51aab57872568cdf36adb5b260b67,NaN,WA,981.0,2015-01-12 11:07:39.044,12.75,2.25,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
54,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,2015-02-03 10:41:16.087,20.18,0.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f

In [40]:
donation.payment_included_campaign_gift_card.replace(['t', 'f'], [1, 0], inplace=True)
donation.payment_included_web_purchased_gift_card.replace(['t', 'f'], [1, 0], inplace=True)
Final_Total_donations_2015=pd.DataFrame()
Final_Total_donations_2015=donation.loc[ (donation.payment_included_web_purchased_gift_card==1) |
                                                    (donation.payment_included_campaign_gift_card==1)]

In [41]:
Gift_Donation_Merge=pd.merge(Gift_Merge_,Final_Total_donations_2015, how='inner',left_on=['_recipient_acctid',(Gift_Merge_["date_redeemed"]).astype(str).apply(lambda x:x[0:10])],
                     right_on=['_donor_acctid',(Final_Total_donations_2015["donation_timestamp"]).astype(str).apply(lambda x:x[0:10])])

In [45]:
Gift_Donation_Merge.head(5)

,_recipient_acctid,key_1,_giftcardid,dollar_tier,_buyer_acctid,buyer_city,buyer_state,buyer_zip,date_purchased,_buyer_cartid,...,payment_included_acct_credit_y,payment_included_campaign_gift_card_y,payment_included_web_purchased_gift_card_y,payment_was_promo_matched_y,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed,Top_Up
0,00087bdaa579b108e0b96030a33a0065,2015-09-19,fc8928bb140905490c7965a74c72070a,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-19,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
1,000b476cefb172411486ba92e80fbed3,2015-11-11,c0c3a05e8d9080274d33447b2fd0b2a4,10_to_100,cde384c0f20468f64e693b62bf16bf35,Alpharetta,GA,300.0,2015-10-14,37a3e1dade0096862e6585589f58e97a,...,f,0,1,f,f,NaN,NaN,f,f,False
2,000e798165db6e2714d3dd437b239fc2,2015-09-16,6f49859313dfca04ce454006fcba81e8,10_to_100,62cba1f0fe6e073bf077ee8ed654f789,NaN,MN,101.0,2015-09-16,NaN,...,f,0,1,f,f,NaN,NaN,f,f,False
3,000ecd50f38445843c0abe5cb72fe6f5,2015-10-29,c32817b958e63a0d6d9b84c257ef91b0,10_to_100,4e2aa27aaf03274a0c913ffab52e5c76,NaN,IN,469.0,2015-10-29,7d36e595f4e52e79b48f8adad3517a51,...,f,0,1,f,f,NaN,NaN,f,f,False
4,0012ef764a10a44c1a51ec970f4ca78e,2015-10-04,d5e73c589fd36e9f9a076d5b13497a49,10_to_100,bca8cbfdb4d48ecf707a9f0fa51a02a9,Chapel Hill,NC,275.0,2015-09-21,8f2e13ab853061171dd239c24784834a,...,f,0,1,f,f,NaN,NaN,f,f,False

In [43]:
Gift_Donation_Merge.payment_method_y.replace(['no_cash_received', 'promo_code_match', 'creditcard', 'paypal',
       'amazon', 'double_your_impact_match', 'check', 'almost_home_match'], [1,0, 0, 0,
      0, 0, 0, 0], inplace=True)

In [44]:
Gift_Donation_Merge["Top_Up"]= ((Gift_Donation_Merge.payment_included_campaign_gift_card_y==1) |
                                                    (Gift_Donation_Merge.payment_included_web_purchased_gift_card_y==1)) & (Gift_Donation_Merge.payment_method_y==0)

In [55]:

Gift_Donation_Merge.payment_method_y.replace([1,0], ["No cash","cash"], inplace=True)

In [59]:
Gift_Donation_Merge["payment_method_y"]

0        No cash
1        No cash
2        No cash
3        No cash
4        No cash
5        No cash
6           cash
7        No cash
8        No cash
9        No cash
10       No cash
11       No cash
12       No cash
13       No cash
14       No cash
15       No cash
16       No cash
17       No cash
18       No cash
19       No cash
20       No cash
21       No cash
22       No cash
23       No cash
24       No cash
25          cash
26          cash
27          cash
28       No cash
29       No cash
          ...
11748    No cash
11749    No cash
11750    No cash
11751    No cash
11752    No cash
11753    No cash
11754    No cash
11755    No cash
11756    No cash
11757    No cash
11758    No cash
11759    No cash
11760    No cash
11761    No cash
11762    No cash
11763    No cash
11764    No cash
11765    No cash
11766       cash
11767    No cash
11768    No cash
11769    No cash
11770    No cash
11771    No cash
11772    No cash
11773    No cash
11774    No cash
11775    No cash
11776    No cash
11777    No cash
Name: payment_method_y, Length: 11778, dtype: object

In [48]:
Gift_Donation_Merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11778 entries, 0 to 11777
Data columns (total 44 columns):
_recipient_acctid                             11778 non-null object
key_1                                         11778 non-null object
_giftcardid                                   11778 non-null object
dollar_tier                                   11778 non-null object
_buyer_acctid                                 11778 non-null object
buyer_city                                    2441 non-null object
buyer_state                                   10453 non-null object
buyer_zip                                     10264 non-null float64
date_purchased                                11778 non-null object
_buyer_cartid                                 7313 non-null object
recipient_city                                2819 non-null object
recipient_state                               7867 non-null object
recipient_zip                                 7852 non-null float64
redeemed                                      11778 non-null object
date_redeemed                                 11778 non-null object
_redeemed_cartid                              11776 non-null object
payment_method_x                              11778 non-null object
payment_included_acct_credit_x                11778 non-null object
payment_included_campaign_gift_card_x         11778 non-null object
payment_included_web_purchased_gift_card_x    11778 non-null object
payment_was_promo_matched_x                   11778 non-null object
_donationid                                   11778 non-null object
_projectid                                    11778 non-null object
_donor_acctid                                 11778 non-null object
_cartid                                       11778 non-null object
donor_city                                    2337 non-null object
donor_state                                   5849 non-null object
donor_zip                                     5835 non-null float64
donation_timestamp                            11778 non-null object
donation_to_project                           11778 non-null float64
donation_optional_support                     11778 non-null float64
donation_total                                11778 non-null float64
donation_included_optional_support            11778 non-null object
payment_method_y                              11778 non-null int64
payment_included_acct_credit_y                11778 non-null object
payment_included_campaign_gift_card_y         11778 non-null int64
payment_included_web_purchased_gift_card_y    11778 non-null int64
payment_was_promo_matched_y                   11778 non-null object
is_teacher_referred                           11778 non-null object
giving_page_id                                907 non-null object
giving_page_type                              906 non-null object
for_honoree                                   11778 non-null object
thank_you_packet_mailed                       11778 non-null object
Top_Up                                        11778 non-null bool
dtypes: bool(1), float64(6), int64(3), object(34)
memory usage: 4.0+ MB

In [60]:
pd.crosstab(Gift_Donation_Merge.payment_included_acct_credit_x, columns=['payment_included_acct_credit_x'])

col_0                           payment_included_acct_credit_x
payment_included_acct_credit_x
f                                                        10870
t                                                          908

In [64]:
pd.crosstab(Gift_Donation_Merge.payment_included_acct_credit_y, columns=['payment_included_acct_credit_y'])

col_0                           payment_included_acct_credit_y
payment_included_acct_credit_y
f                                                        11666
t                                                          112

In [ ]:
Gift_Donation_Merge=Gift_Donation_Merge.drop(['_recipient_acctid','key_1','_giftcardid','_buyer_acctid','buyer_city',
                                              'buyer_city','buyer_state','buyer_zip','date_purchased','_buyer_cartid',
                                              'redeemed','date_redeemed','_redeemed_cartid','payment_method_x','payment_included_acct_credit_x'
                                             
                                             ],axis=1)

In [49]:
unique_acct_id=Gift_Donation_Merge["_recipient_acctid"].unique()

In [50]:
final_dataframe=pd.DataFrame()
for account_id in tqdm(unique_acct_id):
    final_dataframe=Gift_Donation_Merge.loc[Gift_Donation_Merge["_recipient_acctid"]==account_id]

array(['00087bdaa579b108e0b96030a33a0065',
       '000b476cefb172411486ba92e80fbed3',
       '000e798165db6e2714d3dd437b239fc2', ...,
       'ffe94867c126d0da30b3d1e7931352d5',
       'fff2ba3dd9afd55dbf13bfb3cfd79350',
       'fffc109f8eb0f207ab91aa48fedd1bc0'], dtype=object)

In [61]:
Gift_Donation_Merge.to_csv('C://Users/Nameetha/Desktop/Stata/Top_UP_2015_For_Logistic_Regression.csv')

In [1]:
import pandas  as pd
Projects = pd.read_csv("C://Users/Nameetha/Desktop/Stata/opendata_projects000.gz",   escapechar='\\', names=['_projectid', '_teacher_acctid', '_schoolid', 'school_ncesid', 'school_latitude', 'school_longitude', 'school_city', 'school_state', 'school_zip', 'school_metro', 'school_district', 'school_county', 'school_charter', 'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp', 'school_charter_ready_promise', 'teacher_prefix', 'teacher_teach_for_america', 'teacher_ny_teaching_fellow', 'primary_focus_subject', 'primary_focus_area' ,'secondary_focus_subject', 'secondary_focus_area', 'resource_type', 'poverty_level', 'grade_level', 'vendor_shipping_charges', 'sales_tax', 'payment_processing_charges', 'fulfillment_labor_materials', 'total_price_excluding_optional_support', 'total_price_including_optional_support', 'students_reached', 'total_donations', 'num_donors', 'eligible_double_your_impact_match', 'eligible_almost_home_match', 'funding_status', 'date_posted', 'date_completed', 'date_thank_you_packet_mailed', 'date_expiration'])

In [2]:
Projects_2015=Projects[(Projects['date_posted'].apply(lambda x:x[0:4]) == '2015')]

In [3]:
TopUp_Projects=pd.merge(Gift_Donation_Merge,Projects_2015, how='inner',left_on=['_projectid'],right_on=['_projectid'])
TopUp_Projects.info()
TopUp_Projects.to_csv('C://Users/Nameetha/Desktop/Stata/TopUp_Projects.csv')

NameError: name 'Gift_Donation_Merge' is not defined