In [156]:
import pandas as pd

In [157]:

donations = pd.read_csv('C://Users/Nameetha/Desktop/Stata/opendata_donations000.gz',escapechar='\\', 
                        names=['_donationid', '_projectid', '_donor_acctid', '_cartid', 'donor_city', 
                               'donor_state', 'donor_zip', 'is_teacher_acct', 'donation_timestamp', 
                               'donation_to_project', 'donation_optional_support', 'donation_total', 
                               'donation_included_optional_support', 'payment_method', 'payment_included_acct_credit', 
                               'payment_included_campaign_gift_card', 'payment_included_web_purchased_gift_card', 
                               'payment_was_promo_matched','is_teacher_referred', 'giving_page_id', 
                               'giving_page_type', 'for_honoree', 'thank_you_packet_mailed'])

In [158]:
donations = pd.read_csv('C:/Users/vivek4/Downloads/donorschoose_data/opendata_donations000.gz',escapechar='\\', 
                        names=['_donationid', '_projectid', '_donor_acctid', '_cartid', 'donor_city', 
                               'donor_state', 'donor_zip', 'is_teacher_acct', 'donation_timestamp', 
                               'donation_to_project', 'donation_optional_support', 'donation_total', 
                               'donation_included_optional_support', 'payment_method', 'payment_included_acct_credit', 
                               'payment_included_campaign_gift_card', 'payment_included_web_purchased_gift_card', 
                               'payment_was_promo_matched','is_teacher_referred', 'giving_page_id', 
                               'giving_page_type', 'for_honoree', 'thank_you_packet_mailed'])

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/vivek4/Downloads/donorschoose_data/opendata_donations000.gz'

In [159]:
donations.shape

(6211956, 23)

In [160]:
# Filter the data for respective year from donations data
donations_2015=donations[(donations['donation_timestamp'].apply(lambda x:x[0:4]) == '2015')]

In [161]:
donations_2015.shape

(1101603, 23)

In [162]:
#tabulate column is_teacher_acct.
# we need to remove donations from teacher account from our analysis
# since they are not part of our target population
pd.crosstab(donations_2015.is_teacher_acct, columns=['is_teacher_acct'])

col_0            is_teacher_acct
is_teacher_acct
f                         907792
t                         193811

In [163]:
donations_2015_without_teacher_transactions=donations_2015.loc[donations_2015['is_teacher_acct']=="f"]

In [164]:
donations_2015_without_teacher_transactions.shape

(907792, 23)

In [165]:
donations_2015_without_teacher_transactions.head(5)

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
12,00002b6d53ed2ce021d762d3cba3c386,dec978da13b188f28dcf322bcf74e215,80c5148505230a7f24812abfbe7c1741,92825edd8a526a7f7d5db5dcfaeb4f00,NaN,NM,871.0,f,2015-02-24 15:39:24.65,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
21,00004c31ce07c22148ee37acd0f814b9,50fdc93ff0120bc0b2566e726c60cb7b,549c82a35dea77d96330fafd400e50e0,a61cf86a7bb67d4d6c9f8e69f6385ac7,NaN,CA,917.0,f,2015-07-02 10:02:12.278,42.50,...,creditcard,f,f,f,t,t,ae7ee9a5c526ff2cf36df24e2a1c6ffe,teacher,t,t
35,0000654dfc6a3b1cfeeb257ff1855fce,3542b9e2b6e354e33c0b2bea07396fae,afe35211a8cdaa5ac9ad7b2aa229ccad,6afefaa450cc2ac084da027e73ca371c,NaN,OH,444.0,f,2015-11-11 11:37:45.375,17.00,...,creditcard,f,f,f,f,t,aa2bd38b92a9aa2c1a5268651bd278e1,teacher,f,f
40,000076a483ecc66717b0d517f7fef3cd,cea1ebdab099856e5123f58c24f3b729,f5c43657050b01cc255967d85d1ab9ce,NaN,Burlington,NJ,80.0,f,2015-12-09 21:03:01.128,8.50,...,promo_code_match,f,f,f,f,f,8fce05ecbad7f981dc1b35f5abeaf4ed,campaign,f,t
44,00008a62460f74b882f311a6b7c8d0ce,9ac6594c849f7e7819b97788838df039,a769ba11855d767c99311294138208c2,a2d51aab57872568cdf36adb5b260b67,NaN,WA,981.0,f,2015-01-12 11:07:39.044,12.75,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f

In [166]:
pd.crosstab(donations_2015_without_teacher_transactions.payment_method, columns=['payment_method'])

col_0                     payment_method
payment_method
almost_home_match                   3205
amazon                             29270
check                               1532
creditcard                        333848
double_your_impact_match           23917
no_cash_received                  191015
paypal                            129327
promo_code_match                  195678

In [167]:
#lets drop the rows related to two matching conditions 
# shown above- (1) almost_home_match (2) promo_code_match (3) double your impact match

In [168]:
#donations_2015_without_teacher_transactions=donations_2015.loc[donations_2015['is_teacher_acct']=="f"]
donations_2015_without_teacher_transactions_remove_matching=donations_2015_without_teacher_transactions.loc[donations_2015_without_teacher_transactions['payment_method']!=
                                                "almost_home_match"]

In [169]:
donations_2015_without_teacher_transactions_remove_matching.shape

(904587, 23)

In [170]:
donations_2015_without_teacher_transactions_remove_matching=donations_2015_without_teacher_transactions_remove_matching.loc[donations_2015_without_teacher_transactions_remove_matching['payment_method']!=
                                                "promo_code_match"]

In [171]:
donations_2015_without_teacher_transactions_remove_matching=donations_2015_without_teacher_transactions_remove_matching.loc[donations_2015_without_teacher_transactions_remove_matching['payment_method']!=
                                                "double_your_impact_match"]

In [172]:
# Lets check number of donation transaction after removing matching
donations_2015_without_teacher_transactions_remove_matching.shape

(684992, 23)

remove transaction which involve account credit. i.e., only keep rows for which account credit is false. then 
these are only giftcards

In [173]:
pd.crosstab(donations_2015_without_teacher_transactions_remove_matching.payment_included_acct_credit, 
            columns=['payment_included_acct_credit'])

col_0                         payment_included_acct_credit
payment_included_acct_credit
f                                                   618309
t                                                    66683

In [174]:
pd.crosstab([donations_2015_without_teacher_transactions_remove_matching.payment_included_acct_credit, donations_2015_without_teacher_transactions_remove_matching.payment_method],
            columns=['payment_included_acct_credit','payment_method'])

col_0                                         payment_included_acct_credit
col_1                                                       payment_method
payment_included_acct_credit payment_method
f                            amazon                                  28513
                             check                                    1402
                             creditcard                             327270
                             no_cash_received                       134757
                             paypal                                 126367
t                            amazon                                    757
                             check                                     130
                             creditcard                               6578
                             no_cash_received                        56258
                             paypal                                   2960

In [175]:
#Lets not remove payment included account credit as of now.
#donations_2015_without_teacher_transactions_remove_matching=donations_2015_without_teacher_transactions_remove_matching.loc[donations_2015_without_teacher_transactions_remove_matching['payment_included_acct_credit']==
#                                                "f"]

In [176]:
#verify
#pd.crosstab(donations_2015_without_teacher_transactions_remove_matching.payment_included_acct_credit, 
#            columns=['payment_included_acct_credit'])

In [177]:
donations_2015_without_teacher_transactions_remove_matching.shape

(684992, 23)

In [178]:
donations_2015_without_teacher_transactions_remove_matching

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
12,00002b6d53ed2ce021d762d3cba3c386,dec978da13b188f28dcf322bcf74e215,80c5148505230a7f24812abfbe7c1741,92825edd8a526a7f7d5db5dcfaeb4f00,NaN,NM,871.0,f,2015-02-24 15:39:24.65,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
21,00004c31ce07c22148ee37acd0f814b9,50fdc93ff0120bc0b2566e726c60cb7b,549c82a35dea77d96330fafd400e50e0,a61cf86a7bb67d4d6c9f8e69f6385ac7,NaN,CA,917.0,f,2015-07-02 10:02:12.278,42.50,...,creditcard,f,f,f,t,t,ae7ee9a5c526ff2cf36df24e2a1c6ffe,teacher,t,t
35,0000654dfc6a3b1cfeeb257ff1855fce,3542b9e2b6e354e33c0b2bea07396fae,afe35211a8cdaa5ac9ad7b2aa229ccad,6afefaa450cc2ac084da027e73ca371c,NaN,OH,444.0,f,2015-11-11 11:37:45.375,17.00,...,creditcard,f,f,f,f,t,aa2bd38b92a9aa2c1a5268651bd278e1,teacher,f,f
44,00008a62460f74b882f311a6b7c8d0ce,9ac6594c849f7e7819b97788838df039,a769ba11855d767c99311294138208c2,a2d51aab57872568cdf36adb5b260b67,NaN,WA,981.0,f,2015-01-12 11:07:39.044,12.75,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
54,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,f,2015-02-03 10:41:16.087,20.18,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
64,0000af8b5eafbd57fa87273ba1fa32e6,d532c0804fc4eca6bfead9b7354d3683,2c5906972c6dd055403fbdcd03ab259e,1fd3cabf3d01ec793b709a8744b32776,NaN,NaN,NaN,f,2015-12-01 08:54:43.271,8.50,...,paypal,f,f,f,f,t,da43c44227f66dc401048d8cd17db435,teacher,f,f
65,0000afd927e5e4dfad32f7fd81d7262a,984c0ae6626194d551b21c4b569c9f80,328a087d929740c67d022611d2b7665f,8cb70b8d4615c1789a53e9256f5e9bfd,NaN,,NaN,f,2015-11-10 18:32:26.71,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
82,0000c4c5350920abde3465ae2c0d5c0b,bcc957d8a9c4708e93fa1f0719a4820c,9b6cf6a9fdc4557566bef4f31ca52085,f6a376a1f12248925c8e561a2af8a3d6,NaN,NaN,NaN,f,2015-12-08 14:31:54.832,85.00,...,paypal,f,f,f,f,f,NaN,NaN,f,f
95,0000dc7181614041845fdaed6f0fb8ae,fddbc5d6d00e1af25e42b102fc27c73d,0114b341d3e9848c7631cd1c74dc7635,94b9d0f822454205ab5a5e142367abf9,NaN,NC,281.0,f,2015-01-14 13:38:01.031,37.18,...,creditcard,f,f,f,t,f,NaN,NaN,f,f
98,0000e456f28cb005650217180d4e4ccf,47ecd918298efcafe9d7804bf4e712ef,0f7429c111e99fa2588c84c7ec631012,30a2325c242db5e11b2d68540aca0b68,NaN,OH,458.0,f,2015-07-24 19:41:11.383,63.75,...,creditcard,f,f,f,f,t,9dbffcdb2fb07f62fd69bd242505a8d5,teacher,f,f
103,0000f1748fd589e16c2de9478b983b19,a260af23b9d739ec2afea37a0fb3e8e9,5527d8e87fff1fd202419a4206064cdb,40734187ffaf57e0fe3067049e250fb6,NaN,PA,185.0,f,2015-09-09 10:19:49.217,42.50,...,creditcard,f,f,f,t,t,6295c13af34aff885fc09a05b09e74bc,teacher,f,f
105,0000f752ed573a760cd140a46399ded2,3ae3127810b7f5d734dc76d6ea11bd47,2a3d0aa5f20387f1ffd625f7d20f6afd,6558d7e7b933c93591cd880d3071d05f,Newport News,VA,236.0,f,2015-08-18 21:50:21.919,42.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
116,00010f886e2e07ccf4c95fc211665b6e,5d71538ab05bebdacffc490ba46112e9,38b09106f3f78712a744ea4708be738a,99b460209c3e4ff146c833901fc67ca4,NaN,CT,68.0,f,2015-10-08 08:47:50.515,8.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
120,0001159d13601a582dda846f252ec4c1,148260e804c5ebbb3fc140c28d6ca15b,68c355078d2e13b3d0ec6f887f9bca9c,ae73e181516a4ba2b55769fc4a27e987,NaN,IL,NaN,f,2015-06-07 12:55:52.668,6.72,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
126,00012542a5854090c7f4beacb10c1f92,ef53f81fded73a258d0b9526531e9e00,6b6a0b3f44e6337c06467483ec12deaa,7a445090ad49a54916aba2b6b15f87ff,NaN,MO,640.0,f,2015-11-11 20:01:43.616,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
132,0001349d10c5f48417b012530a303af3,9bf1dea647c17b740a902dfc5f639dce,a9bbe4a81f087ae8f25ff651601a9257,9aff19bf1c0c37bdd7059faf9fc5f2c0,NaN,NY,100.0,f,2015-06-23 20:47:57.309,1739.97,...,check,t,f,f,f,f,NaN,NaN,f,f
155,00016a8df533917c073ce3bffe6f25ee,8ccd54dce2912dc6706495dd0be34f56,e09bd9ea31d067e9584d90a08670997e,94c0a51de49bca7f34b8d8daa97b214f,NaN,NV,890.0,f,2015-01-23 15:59:51.107,5.10,...,no_cash_received,t,f,f,f,f,NaN,NaN,f,f
162,000173cabb5355dce3263e28596b50ad,bd45d643424c3d20049d0170e0740427,ccaacc81db28e3056484828edfb5171b,b2467c31e43261158c1e6c808bad306c,Estherville,IA,513.0,f,2015-09-03 20:43:04.294,42.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,t
168,00018379bfe300eb5b7d4312ca7b1275,3acf88e3454eb64889a16b47e4d8d772,b34bdb6fed5ac27c16fe95daa59422f2,0b8ec43b1c0c871cdfd6d5bfdc0d58e8,San Francisco,CA,941.0,f,2015-11-02 13:16:37.838,811.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,t
169,0001837e7b9d49ba15e158b45f7b52c3,463215c8a3dd905bc091838b592bd141,61734f6a4bbfa3d277f487401e2ae55a,653f3c21f995846e5326510545690734,NaN,MO,640.0,f,2015-02-12 09:44:01.92,0.85,...,creditcard,f,f,f,t,t,b70e537c26b4129d675610c69225a574,teacher,f,f
172,0001928daddac3792f6f3358103e5fd7,eaad7453042d83aa8e5d62d7d445d0cb,04fa2f28b60dd11e1b329ea1cb03544b,959ddc4da21b4de1f37ebc24b826df8c,NaN,NaN,NaN,f,2015-09-29 18:36:15.236,50.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
188,0001c0085689636a2a9038bbb2bc23d7,1a60b7abb6563d9093b87c2b759546d7,fdd9a65ad7f048055d8a130a3ad3aafe,681293221f0f321bc9c09eea84079490,NaN,TX,787.0,f,2015-12-21 16:57:10.956,12.75,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
191,0001c98711262e2748e24d0d98e4e76e,5a942c1a2d2d0116a0a2e2dc67127f0c,68c355078d2e13b3d0ec6f887f9bca9c,c2d205a62822a5d39154c2284e015ba6,NaN,IL,NaN,f,2015-04-01 20:37:39.362,6.72,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
213,0001fa37e5098201147dbb9e77d13a65,5df98033d4f70a4f694c82dee7724dc3,fbfe8451ed8688bb67d4846c728c2747,3c104561ede7ecf5bd809cc77fcb7fa0,San Jose,CA,951.0,f,2015-12-28 12:00:54.132,432.43,...,paypal,f,f,t,f,f,NaN,NaN,f,f
216,00020057c446c937e9ef959cb1c02c0f,530474ab1465d026f13a91ff413e797a,62bd4a05b21519524ae796d08c1d5761,e91f27d74f8f17b9f3bf053972a59125,NaN,FL,334.0,f,2015-04-17 09:44:14.493,123.33,...,creditcard,f,f,f,t,t,a60912e4e3d9a74eebd2daaa4ebd29bc,teacher,f,f
218,000206f08d5a34317575381529150f84,f41958e9b4deb38896846abb5fd7021d,6f3e31e34d1f1d5d3888376de3331f35,ef54de3e9a9641e2578234a1a4299a2b,NaN,MD,212.0,f,2015-10-09 12:37:02.224,50.00,...,amazon,f,f,f,t,t,6d31cbb81a4395af4c1d1989a2d8c1ed,teacher,f,f
226,00021e9722349bebbde50d27a605c856,7780e5dacb615cc6243fa7af1315438e,df54d4ee5ca2ea35097e4a0d1efcc60d,7ac06b722a1ac93ce9ec7bb484fa3b11,NaN,AZ,850.0,f,2015-12-02 10:13:30.26,21.25,...,no_cash_received,f,t,f,f,f,NaN,NaN,f,f
229,00022f77af2d2bada4f49a5a62953b09,8bc1a697ff32a10ef0ca1940b05405ff,dd91c6bb535182a4172558cbcd3d40ca,56372a3fbfa53ceb653e222b9bf5732a,NaN,WA,982.0,f,2015-09-20 01:53:19.537,21.25,...,paypal,f,f,f,f,f,NaN,NaN,f,f
235,0002443a44b824416f673f935fb6c2bd,a898c91eda715e204791b2658aae27c0,328a087d929740c67d022611d2b7665f,d37c533f2f514fedbf6325ac6ccb50e6,NaN,,NaN,f,2015-11-13 01:14:21.675,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
239,000253421fb8b207dc2b9d3d879bcf44,f7d0760f66a54bb44d15f53bcd40c2ac,4d5414deeb8f835ee40219ddb73b252f,1d7edf206f33ee24c6dfea7829816988,Saint Louis,MO,631.0,f,2015-12-01 17:09:13.648,127.50,...,creditcard,f,f,f,f,t,c60de089625b3426b7464a9e458769ff,teacher,f,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6211723,fffdb5921cf53484d09555825501770b,4fc08c01d0264ad4a8916f94a3b803c7,4c766d55ea75d32a6db5046005f396b7,e8d9e3998e91720ed41c3c8dfb1b0338,Indianapolis,IN,462.0,f,2015-08-02 14:21:03.782,42.50,...,creditcard,f,f,f,t,t,4d6be089d377aa564c0a8b1d2838b52c,teacher,f,t
6211733,fffdd4b76a5225efc439fa735e6d58cf,7546b47750ea9aed66fc582cee933c09,d006be7223c048ae8b2bdedd7dd2b4db,aeaaadd1c63eb187388eb792a3906763,Tyngsboro,MA,18.0,f,2015-08-20 15:01:01.742,310.73,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211740,fffde793cb35a06f792a18dec316ccdc,a2228e763751708a478514d0420050a8,2464b9e95941a9b292341a504e8b2d3c,c571ef8956eb3a23d7ae41b2157f4ad4,NaN,NY,117.0,f,2015-11-11 07:00:56.771,42.50,...,creditcard,f,f,f,f,t,0a4d809e42c0b8c11e21ccbeb589193c,teacher,f,f
6211745,fffdef8f3e26c769764bf36dbe9aa840,c5c256f9f1aa24bae65609be4f5dfbef,99c01df3ec59185de058ae6ae3137b76,f4fa5797511bd47910ab2a0b52bd2580,NaN,CT,64.0,f,2015-12-17 21:32:18.266,85.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211749,fffdf7bdde157a320d24f187601cd43b,f83715ed611bd120f37b72d0532f16cb,09e5422633936fa10d0b840de6f05549,73e5855419067f3ce9367ea219a89173,NaN,MA,18.0,f,2015-12-20 20:06:31.956,21.25,...,creditcard,f,f,f,t,t,3823e099ccf5cf7b70ba576425e9cb52,teacher,f,f
6211765,fffe1601facb9072bdbd12ab7ae80d64,c39b68b3c94ef42c1436ed227c6649e9,fa705a7614061d3bfcdb13c981b4dee4,745b772643500e7ae0aac02e1fd49f4e,NaN,OH,441.0,f,2015-04-15 09:33:28.091,42.50,...,paypal,f,f,f,t,t,8b9995c9a5436548ce9ad89a551b04f5,teacher,f,f
6211769,fffe1a0f46c4689ef13eb1dbb3d1deab,081741b4de57d7acebaed1aefcf471f9,86e81a7343c86daaffd10d25fb929da7,5c435baf8a35ccf46ff1de252a517cea,Stony Brook,NY,117.0,f,2015-02-25 06:27:46.799,150.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211770,fffe1cb65b48407e0ec719d556bc37ea,22d23ac42511e3df23a32eb9a0a276e0,a4e4d4390150d7ca4a740708db0de49b,da59806bdb8f690d344b1bac0161eb8d,NaN,DE,199.0,f,2015-10-26 22:43:32.083,21.25,...,creditcard,f,f,f,t,t,4859a6e2bd3c36cd2ac2a8bf19a4e80e,teacher,f,f
6211778,fffe2bdf8cc98b6d1ffdb44db1d5a1ef,01e0d1cc1b6623e76b99c2ca31f1680b,2aafd1b11d9290effacadb0fbc3cac6d,04f069820b5c0f7fce179ffa7eaf0a15,NaN,NaN,NaN,f,2015-06-26 09:29:30.804,44.00,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211779,fffe2c5ac07b259c995093f29818ec40,68679fa66260d9a593662e3cf9140454,437fa041c38dcc2a4d96915ccb9c8e53,99242b17da49423560cc3ad4e5a0695b,Beaufort,SC,299.0,f,2015-04-23 17:21:59.469,73.66,...,creditcard,f,f,f,f,f,NaN,NaN,f,t
6211787,fffe4524ed7a2a0bf068c72748836d0f,6e6be3c9bf2e1f9e7382b30db40915ee,f14b4301907a3787b688b873774d2f9a,4e4784a67dd3ce9643acfb029313934d,NaN,NaN,351.0,f,2015-08-01 21:15:16.843,21.25,...,amazon,f,f,f,t,t,3326f36b624d7a67a98b6ae15c01965d,teacher,f,f
6211790,fffe4cf76fb27fd7211538d8b7baf2a8,59915936d290031619c54911f4f4eeaa,328a087d929740c67d022611d2b7665f,8145c3f8dbfe51ed97c63e2f4cda20b5,NaN,,NaN,f,2015-11-17 16:23:09.344,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
6211798,fffe5cb25f5aaaf3025d731f1ccb7e5e,44ed2f73166a633d07d9bf27d127e284,22635fb1e7c4cb237c141fa4d3b713f1,1e6e6f969de72447a3eb79afd56a4596,NaN,NC,277.0,f,2015-07-03 12:26:02.54,21.25,...,creditcard,f,f,f,f,t,a4b64e5f057f19168f9cd950c7923362,teacher,f,f
6211805,fffe6a0b2410c884f2d68cba705d70e5,11a305ed0596155a0c5c9e1e135cfa67,9f653d3f901ab565fb9b80e7e783abf2,c667b5941c4f89ed33a0907920147509,NaN,VA,222.0,f,2015-12-04 19:13:07.809,28.05,...,amazon,f,f,f,t,f,NaN,NaN,f,f
6211828,fffea37065ebf6ae4e3cf55f9ea11fce,b3bfaadd2bb79360bc81e3f86b251934,eafb124462af8cbbed507f18d3280525,35c4bfbe3a9b46443fac3f1d5633153b,NaN,MA,23.0,f,2015-12-01 14:11:53.571,21.25,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211838,fffeb52c9d2b03c0843feab219e72688,2cb36dd50df9fd6716fd9576e8dacc72,265e9f3bc70b828b0b946323cd586f7e,b0a38766c6128d0da1bbde890e1ecbe8,Bakersfield,CA,933.0,f,2015-11-15 15:55:44.692,4.25,...,no_cash_received,t,f,f,f,f,d89d7f63dae9f6e8ceccad198c02de20,campaign,f,f
6211842,fffec5c641cecc603612183f2e50fd57,137c8a8c41991d2cf2a76548fc74573f,4b39135cff4a77268210daa9875b5c43,3081e97842e4924a8030ccced65e85f1,NaN,NY,130.0,f,2015-09-29 22:47:25.353,8.50,...,creditcard,f,f,f,f,t,41e82083283a7254d1ce074b6cf0b3a9,teacher,f,f
6211854,fffef9adac6006a2fb9db05cfd69d009,732b9aa74b35565c3d634e61f34db37a,d5728ac0f98a7007fd91c57a7d52f2fd,3c1fb631e0c7527c4ed62d441fdd4530,NaN,NaN,NaN,f,2015-09-18 14:51:52.288,10.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
6211870,ffff26109ebf71037db2a14742c77cfd,d2ce9c5d4b1e582fcb547ecb21895277,d92d981359cc6149c6b58042049d1061,ec08ca686e4dda6e141281ac52283656,NaN,NC,275.0,f,2015-02-19 13:52:46.33,21.25,...,paypal,f,f,f,t,t,be7fe0db0b974005cd462efd17e55c95,teacher,f,f
6211872,ffff3137124db70375501d48538e50dc,fa130bfd9a5bbf0d0804c387c270737a,682a8c6d77712f3c52185bc97e908fe6,f83156da739a4609bcdf968acf8848b0,NaN,NY,100.0,f,2015-03-02 08:54:21.859,254.03,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211873,ffff35fa4c44800b7127613b7dbbd4ce,6d2fffa68f62b9869db75e4d166dd0c4,e7ead6c46672fe7d9fed09af03801c41,84a185909209fe4ef9036b1990b9cd76,NaN,CA,933.0,f,2015-05-05 02:44:58.579,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211887,ffff58393885ea316519d7852f22c930,39d22ca66b07302a89298fcbaf528b85,5f8a31b40158a3881c423f19cbe43336,76b71d22076662d0b050261ebb406423,NaN,NaN,NaN,f,2015-05-04 00:13:40.82,170.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
6211893,ffff6019c44c138b6a7d6e9ab7728a54,5260a7d4811629ee7f838a55be9b31fc,96c37c5650ed5e8429df19797023de35,ef5bb616cf1265dcedc2fa067ca2bc4c,NaN,NaN,NaN,f,2015-05-19 00:21:19.80,225.05,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211910,ffff876759c7e68f4b8062fad07d3f19,f6191dfb6168a0a3bba7d88a2691f003,be5e2779b8522e2f1efe6244346ddf43,98d0858800c716456608c4ad178e6d26,San Diego,CA,921.0,f,2015-04-02 01:49:16.573,68.13,...,no_cash_received,t,f,f,f,f,NaN,NaN,f,t
6211914,ffff8ce7981194b8a08b7f57cdb967b9,fb55a5ca2abf93fabfe912c5783ab3c5,27fa7268652892095ac328ef3f3bdafe,2dd3291e033a7f8d118cbf9063706f6b,Marietta,GA,300.0,f,2015-05-08 14:30:02.987,56.79,...,amazon,t,f,f,f,f,NaN,NaN,f,t
6211925,ffffa4eac406cf61c160528032651844,fb89cd956a995228c5dd4cf99320e18c,d0c0e9bdf5f6672e1f904412432ab96e,09d3a322c69fd706b079ee953d2b3461,NaN,OK,740.0,f,2015-07-19 07:57:03.062,39.90,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211929,ffffa9bc330a059987824f513dd89634,986e263ed1129b43d8fb58cdc8e0f320,328a087d929740c67d022611d2b7665f,3089c09a021786e5a22c5b0c9c1aa3ab,NaN,,NaN,f,2015-10-25 17:26:13.098,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
6211936,ffffc2258f60c320032aba082221d2c3,d947ae2a23d3c4bedfa2118da1968203,8036695f6736ad7474a5eba49b330f5b,97959136d6cdae570b2a851e27b3b918,NaN,PA,168.0,f,2015-11-02 23:29:21.936,85.00,...,amazon,f,f,f,f,t,cbaaeeb10af71cb0981dfff92ee19b69,teacher,f,f
6211945,ffffe07f350099b2b91cac35bc484975,9dfee9a266925bbf21d57f7f7f1833cd,5297621b44203b895c68bebc9243c96c,3f9c4a1a054c2ab38475edd296cdc088,Indianapolis,IN,462.0,f,2015-03-06 18:59:45.574,8.50,...,paypal,f,f,f,t,t,5821891ab57293d17a52b56108d3b634,teacher,f,f
6211949,ffffeb7b06828ffed052b299a144f824,8d04768c483c10bb2cd5b54ff811b85a,2b7ad72a7f6b6a1860aba53226aa1056,b7e39fad06c039803b26573a75f0d64c,NaN,WI,530.0,f,2015-10-15 18:09:42.732,8.50,...,creditcard,f,f,f,f,t,69a90070c63683550ff90367e558d9c8,teacher,f,f

In [179]:
pd.crosstab(donations_2015_without_teacher_transactions_remove_matching.is_teacher_acct, columns=['is_teacher_acct'])

col_0            is_teacher_acct
is_teacher_acct
f                         684992

In [180]:
pd.crosstab(donations_2015_without_teacher_transactions_remove_matching.payment_method, columns=['payment_method'])

col_0             payment_method
payment_method
amazon                     29270
check                       1532
creditcard                333848
no_cash_received          191015
paypal                    129327

In [181]:
donations=donations_2015_without_teacher_transactions_remove_matching

In [28]:
donations

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
12,00002b6d53ed2ce021d762d3cba3c386,dec978da13b188f28dcf322bcf74e215,80c5148505230a7f24812abfbe7c1741,92825edd8a526a7f7d5db5dcfaeb4f00,NaN,NM,871.0,f,2015-02-24 15:39:24.65,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
21,00004c31ce07c22148ee37acd0f814b9,50fdc93ff0120bc0b2566e726c60cb7b,549c82a35dea77d96330fafd400e50e0,a61cf86a7bb67d4d6c9f8e69f6385ac7,NaN,CA,917.0,f,2015-07-02 10:02:12.278,42.50,...,creditcard,f,f,f,t,t,ae7ee9a5c526ff2cf36df24e2a1c6ffe,teacher,t,t
35,0000654dfc6a3b1cfeeb257ff1855fce,3542b9e2b6e354e33c0b2bea07396fae,afe35211a8cdaa5ac9ad7b2aa229ccad,6afefaa450cc2ac084da027e73ca371c,NaN,OH,444.0,f,2015-11-11 11:37:45.375,17.00,...,creditcard,f,f,f,f,t,aa2bd38b92a9aa2c1a5268651bd278e1,teacher,f,f
44,00008a62460f74b882f311a6b7c8d0ce,9ac6594c849f7e7819b97788838df039,a769ba11855d767c99311294138208c2,a2d51aab57872568cdf36adb5b260b67,NaN,WA,981.0,f,2015-01-12 11:07:39.044,12.75,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
54,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,f,2015-02-03 10:41:16.087,20.18,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
64,0000af8b5eafbd57fa87273ba1fa32e6,d532c0804fc4eca6bfead9b7354d3683,2c5906972c6dd055403fbdcd03ab259e,1fd3cabf3d01ec793b709a8744b32776,NaN,NaN,NaN,f,2015-12-01 08:54:43.271,8.50,...,paypal,f,f,f,f,t,da43c44227f66dc401048d8cd17db435,teacher,f,f
65,0000afd927e5e4dfad32f7fd81d7262a,984c0ae6626194d551b21c4b569c9f80,328a087d929740c67d022611d2b7665f,8cb70b8d4615c1789a53e9256f5e9bfd,NaN,,NaN,f,2015-11-10 18:32:26.71,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
82,0000c4c5350920abde3465ae2c0d5c0b,bcc957d8a9c4708e93fa1f0719a4820c,9b6cf6a9fdc4557566bef4f31ca52085,f6a376a1f12248925c8e561a2af8a3d6,NaN,NaN,NaN,f,2015-12-08 14:31:54.832,85.00,...,paypal,f,f,f,f,f,NaN,NaN,f,f
95,0000dc7181614041845fdaed6f0fb8ae,fddbc5d6d00e1af25e42b102fc27c73d,0114b341d3e9848c7631cd1c74dc7635,94b9d0f822454205ab5a5e142367abf9,NaN,NC,281.0,f,2015-01-14 13:38:01.031,37.18,...,creditcard,f,f,f,t,f,NaN,NaN,f,f
98,0000e456f28cb005650217180d4e4ccf,47ecd918298efcafe9d7804bf4e712ef,0f7429c111e99fa2588c84c7ec631012,30a2325c242db5e11b2d68540aca0b68,NaN,OH,458.0,f,2015-07-24 19:41:11.383,63.75,...,creditcard,f,f,f,f,t,9dbffcdb2fb07f62fd69bd242505a8d5,teacher,f,f
103,0000f1748fd589e16c2de9478b983b19,a260af23b9d739ec2afea37a0fb3e8e9,5527d8e87fff1fd202419a4206064cdb,40734187ffaf57e0fe3067049e250fb6,NaN,PA,185.0,f,2015-09-09 10:19:49.217,42.50,...,creditcard,f,f,f,t,t,6295c13af34aff885fc09a05b09e74bc,teacher,f,f
105,0000f752ed573a760cd140a46399ded2,3ae3127810b7f5d734dc76d6ea11bd47,2a3d0aa5f20387f1ffd625f7d20f6afd,6558d7e7b933c93591cd880d3071d05f,Newport News,VA,236.0,f,2015-08-18 21:50:21.919,42.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
116,00010f886e2e07ccf4c95fc211665b6e,5d71538ab05bebdacffc490ba46112e9,38b09106f3f78712a744ea4708be738a,99b460209c3e4ff146c833901fc67ca4,NaN,CT,68.0,f,2015-10-08 08:47:50.515,8.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
120,0001159d13601a582dda846f252ec4c1,148260e804c5ebbb3fc140c28d6ca15b,68c355078d2e13b3d0ec6f887f9bca9c,ae73e181516a4ba2b55769fc4a27e987,NaN,IL,NaN,f,2015-06-07 12:55:52.668,6.72,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
126,00012542a5854090c7f4beacb10c1f92,ef53f81fded73a258d0b9526531e9e00,6b6a0b3f44e6337c06467483ec12deaa,7a445090ad49a54916aba2b6b15f87ff,NaN,MO,640.0,f,2015-11-11 20:01:43.616,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
132,0001349d10c5f48417b012530a303af3,9bf1dea647c17b740a902dfc5f639dce,a9bbe4a81f087ae8f25ff651601a9257,9aff19bf1c0c37bdd7059faf9fc5f2c0,NaN,NY,100.0,f,2015-06-23 20:47:57.309,1739.97,...,check,t,f,f,f,f,NaN,NaN,f,f
155,00016a8df533917c073ce3bffe6f25ee,8ccd54dce2912dc6706495dd0be34f56,e09bd9ea31d067e9584d90a08670997e,94c0a51de49bca7f34b8d8daa97b214f,NaN,NV,890.0,f,2015-01-23 15:59:51.107,5.10,...,no_cash_received,t,f,f,f,f,NaN,NaN,f,f
162,000173cabb5355dce3263e28596b50ad,bd45d643424c3d20049d0170e0740427,ccaacc81db28e3056484828edfb5171b,b2467c31e43261158c1e6c808bad306c,Estherville,IA,513.0,f,2015-09-03 20:43:04.294,42.50,...,creditcard,f,f,f,f,f,NaN,NaN,f,t
168,00018379bfe300eb5b7d4312ca7b1275,3acf88e3454eb64889a16b47e4d8d772,b34bdb6fed5ac27c16fe95daa59422f2,0b8ec43b1c0c871cdfd6d5bfdc0d58e8,San Francisco,CA,941.0,f,2015-11-02 13:16:37.838,811.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,t
169,0001837e7b9d49ba15e158b45f7b52c3,463215c8a3dd905bc091838b592bd141,61734f6a4bbfa3d277f487401e2ae55a,653f3c21f995846e5326510545690734,NaN,MO,640.0,f,2015-02-12 09:44:01.92,0.85,...,creditcard,f,f,f,t,t,b70e537c26b4129d675610c69225a574,teacher,f,f
172,0001928daddac3792f6f3358103e5fd7,eaad7453042d83aa8e5d62d7d445d0cb,04fa2f28b60dd11e1b329ea1cb03544b,959ddc4da21b4de1f37ebc24b826df8c,NaN,NaN,NaN,f,2015-09-29 18:36:15.236,50.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
188,0001c0085689636a2a9038bbb2bc23d7,1a60b7abb6563d9093b87c2b759546d7,fdd9a65ad7f048055d8a130a3ad3aafe,681293221f0f321bc9c09eea84079490,NaN,TX,787.0,f,2015-12-21 16:57:10.956,12.75,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
191,0001c98711262e2748e24d0d98e4e76e,5a942c1a2d2d0116a0a2e2dc67127f0c,68c355078d2e13b3d0ec6f887f9bca9c,c2d205a62822a5d39154c2284e015ba6,NaN,IL,NaN,f,2015-04-01 20:37:39.362,6.72,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
213,0001fa37e5098201147dbb9e77d13a65,5df98033d4f70a4f694c82dee7724dc3,fbfe8451ed8688bb67d4846c728c2747,3c104561ede7ecf5bd809cc77fcb7fa0,San Jose,CA,951.0,f,2015-12-28 12:00:54.132,432.43,...,paypal,f,f,t,f,f,NaN,NaN,f,f
216,00020057c446c937e9ef959cb1c02c0f,530474ab1465d026f13a91ff413e797a,62bd4a05b21519524ae796d08c1d5761,e91f27d74f8f17b9f3bf053972a59125,NaN,FL,334.0,f,2015-04-17 09:44:14.493,123.33,...,creditcard,f,f,f,t,t,a60912e4e3d9a74eebd2daaa4ebd29bc,teacher,f,f
218,000206f08d5a34317575381529150f84,f41958e9b4deb38896846abb5fd7021d,6f3e31e34d1f1d5d3888376de3331f35,ef54de3e9a9641e2578234a1a4299a2b,NaN,MD,212.0,f,2015-10-09 12:37:02.224,50.00,...,amazon,f,f,f,t,t,6d31cbb81a4395af4c1d1989a2d8c1ed,teacher,f,f
226,00021e9722349bebbde50d27a605c856,7780e5dacb615cc6243fa7af1315438e,df54d4ee5ca2ea35097e4a0d1efcc60d,7ac06b722a1ac93ce9ec7bb484fa3b11,NaN,AZ,850.0,f,2015-12-02 10:13:30.26,21.25,...,no_cash_received,f,t,f,f,f,NaN,NaN,f,f
229,00022f77af2d2bada4f49a5a62953b09,8bc1a697ff32a10ef0ca1940b05405ff,dd91c6bb535182a4172558cbcd3d40ca,56372a3fbfa53ceb653e222b9bf5732a,NaN,WA,982.0,f,2015-09-20 01:53:19.537,21.25,...,paypal,f,f,f,f,f,NaN,NaN,f,f
235,0002443a44b824416f673f935fb6c2bd,a898c91eda715e204791b2658aae27c0,328a087d929740c67d022611d2b7665f,d37c533f2f514fedbf6325ac6ccb50e6,NaN,,NaN,f,2015-11-13 01:14:21.675,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
239,000253421fb8b207dc2b9d3d879bcf44,f7d0760f66a54bb44d15f53bcd40c2ac,4d5414deeb8f835ee40219ddb73b252f,1d7edf206f33ee24c6dfea7829816988,Saint Louis,MO,631.0,f,2015-12-01 17:09:13.648,127.50,...,creditcard,f,f,f,f,t,c60de089625b3426b7464a9e458769ff,teacher,f,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6211723,fffdb5921cf53484d09555825501770b,4fc08c01d0264ad4a8916f94a3b803c7,4c766d55ea75d32a6db5046005f396b7,e8d9e3998e91720ed41c3c8dfb1b0338,Indianapolis,IN,462.0,f,2015-08-02 14:21:03.782,42.50,...,creditcard,f,f,f,t,t,4d6be089d377aa564c0a8b1d2838b52c,teacher,f,t
6211733,fffdd4b76a5225efc439fa735e6d58cf,7546b47750ea9aed66fc582cee933c09,d006be7223c048ae8b2bdedd7dd2b4db,aeaaadd1c63eb187388eb792a3906763,Tyngsboro,MA,18.0,f,2015-08-20 15:01:01.742,310.73,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211740,fffde793cb35a06f792a18dec316ccdc,a2228e763751708a478514d0420050a8,2464b9e95941a9b292341a504e8b2d3c,c571ef8956eb3a23d7ae41b2157f4ad4,NaN,NY,117.0,f,2015-11-11 07:00:56.771,42.50,...,creditcard,f,f,f,f,t,0a4d809e42c0b8c11e21ccbeb589193c,teacher,f,f
6211745,fffdef8f3e26c769764bf36dbe9aa840,c5c256f9f1aa24bae65609be4f5dfbef,99c01df3ec59185de058ae6ae3137b76,f4fa5797511bd47910ab2a0b52bd2580,NaN,CT,64.0,f,2015-12-17 21:32:18.266,85.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211749,fffdf7bdde157a320d24f187601cd43b,f83715ed611bd120f37b72d0532f16cb,09e5422633936fa10d0b840de6f05549,73e5855419067f3ce9367ea219a89173,NaN,MA,18.0,f,2015-12-20 20:06:31.956,21.25,...,creditcard,f,f,f,t,t,3823e099ccf5cf7b70ba576425e9cb52,teacher,f,f
6211765,fffe1601facb9072bdbd12ab7ae80d64,c39b68b3c94ef42c1436ed227c6649e9,fa705a7614061d3bfcdb13c981b4dee4,745b772643500e7ae0aac02e1fd49f4e,NaN,OH,441.0,f,2015-04-15 09:33:28.091,42.50,...,paypal,f,f,f,t,t,8b9995c9a5436548ce9ad89a551b04f5,teacher,f,f
6211769,fffe1a0f46c4689ef13eb1dbb3d1deab,081741b4de57d7acebaed1aefcf471f9,86e81a7343c86daaffd10d25fb929da7,5c435baf8a35ccf46ff1de252a517cea,Stony Brook,NY,117.0,f,2015-02-25 06:27:46.799,150.00,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211770,fffe1cb65b48407e0ec719d556bc37ea,22d23ac42511e3df23a32eb9a0a276e0,a4e4d4390150d7ca4a740708db0de49b,da59806bdb8f690d344b1bac0161eb8d,NaN,DE,199.0,f,2015-10-26 22:43:32.083,21.25,...,creditcard,f,f,f,t,t,4859a6e2bd3c36cd2ac2a8bf19a4e80e,teacher,f,f
6211778,fffe2bdf8cc98b6d1ffdb44db1d5a1ef,01e0d1cc1b6623e76b99c2ca31f1680b,2aafd1b11d9290effacadb0fbc3cac6d,04f069820b5c0f7fce179ffa7eaf0a15,NaN,NaN,NaN,f,2015-06-26 09:29:30.804,44.00,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211779,fffe2c5ac07b259c995093f29818ec40,68679fa66260d9a593662e3cf9140454,437fa041c38dcc2a4d96915ccb9c8e53,99242b17da49423560cc3ad4e5a0695b,Beaufort,SC,299.0,f,2015-04-23 17:21:59.469,73.66,...,creditcard,f,f,f,f,f,NaN,NaN,f,t
6211787,fffe4524ed7a2a0bf068c72748836d0f,6e6be3c9bf2e1f9e7382b30db40915ee,f14b4301907a3787b688b873774d2f9a,4e4784a67dd3ce9643acfb029313934d,NaN,NaN,351.0,f,2015-08-01 21:15:16.843,21.25,...,amazon,f,f,f,t,t,3326f36b624d7a67a98b6ae15c01965d,teacher,f,f
6211790,fffe4cf76fb27fd7211538d8b7baf2a8,59915936d290031619c54911f4f4eeaa,328a087d929740c67d022611d2b7665f,8145c3f8dbfe51ed97c63e2f4cda20b5,NaN,,NaN,f,2015-11-17 16:23:09.344,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
6211798,fffe5cb25f5aaaf3025d731f1ccb7e5e,44ed2f73166a633d07d9bf27d127e284,22635fb1e7c4cb237c141fa4d3b713f1,1e6e6f969de72447a3eb79afd56a4596,NaN,NC,277.0,f,2015-07-03 12:26:02.54,21.25,...,creditcard,f,f,f,f,t,a4b64e5f057f19168f9cd950c7923362,teacher,f,f
6211805,fffe6a0b2410c884f2d68cba705d70e5,11a305ed0596155a0c5c9e1e135cfa67,9f653d3f901ab565fb9b80e7e783abf2,c667b5941c4f89ed33a0907920147509,NaN,VA,222.0,f,2015-12-04 19:13:07.809,28.05,...,amazon,f,f,f,t,f,NaN,NaN,f,f
6211828,fffea37065ebf6ae4e3cf55f9ea11fce,b3bfaadd2bb79360bc81e3f86b251934,eafb124462af8cbbed507f18d3280525,35c4bfbe3a9b46443fac3f1d5633153b,NaN,MA,23.0,f,2015-12-01 14:11:53.571,21.25,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211838,fffeb52c9d2b03c0843feab219e72688,2cb36dd50df9fd6716fd9576e8dacc72,265e9f3bc70b828b0b946323cd586f7e,b0a38766c6128d0da1bbde890e1ecbe8,Bakersfield,CA,933.0,f,2015-11-15 15:55:44.692,4.25,...,no_cash_received,t,f,f,f,f,d89d7f63dae9f6e8ceccad198c02de20,campaign,f,f
6211842,fffec5c641cecc603612183f2e50fd57,137c8a8c41991d2cf2a76548fc74573f,4b39135cff4a77268210daa9875b5c43,3081e97842e4924a8030ccced65e85f1,NaN,NY,130.0,f,2015-09-29 22:47:25.353,8.50,...,creditcard,f,f,f,f,t,41e82083283a7254d1ce074b6cf0b3a9,teacher,f,f
6211854,fffef9adac6006a2fb9db05cfd69d009,732b9aa74b35565c3d634e61f34db37a,d5728ac0f98a7007fd91c57a7d52f2fd,3c1fb631e0c7527c4ed62d441fdd4530,NaN,NaN,NaN,f,2015-09-18 14:51:52.288,10.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
6211870,ffff26109ebf71037db2a14742c77cfd,d2ce9c5d4b1e582fcb547ecb21895277,d92d981359cc6149c6b58042049d1061,ec08ca686e4dda6e141281ac52283656,NaN,NC,275.0,f,2015-02-19 13:52:46.33,21.25,...,paypal,f,f,f,t,t,be7fe0db0b974005cd462efd17e55c95,teacher,f,f
6211872,ffff3137124db70375501d48538e50dc,fa130bfd9a5bbf0d0804c387c270737a,682a8c6d77712f3c52185bc97e908fe6,f83156da739a4609bcdf968acf8848b0,NaN,NY,100.0,f,2015-03-02 08:54:21.859,254.03,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211873,ffff35fa4c44800b7127613b7dbbd4ce,6d2fffa68f62b9869db75e4d166dd0c4,e7ead6c46672fe7d9fed09af03801c41,84a185909209fe4ef9036b1990b9cd76,NaN,CA,933.0,f,2015-05-05 02:44:58.579,21.25,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211887,ffff58393885ea316519d7852f22c930,39d22ca66b07302a89298fcbaf528b85,5f8a31b40158a3881c423f19cbe43336,76b71d22076662d0b050261ebb406423,NaN,NaN,NaN,f,2015-05-04 00:13:40.82,170.00,...,no_cash_received,f,f,t,f,f,NaN,NaN,f,f
6211893,ffff6019c44c138b6a7d6e9ab7728a54,5260a7d4811629ee7f838a55be9b31fc,96c37c5650ed5e8429df19797023de35,ef5bb616cf1265dcedc2fa067ca2bc4c,NaN,NaN,NaN,f,2015-05-19 00:21:19.80,225.05,...,creditcard,f,f,f,f,f,NaN,NaN,f,f
6211910,ffff876759c7e68f4b8062fad07d3f19,f6191dfb6168a0a3bba7d88a2691f003,be5e2779b8522e2f1efe6244346ddf43,98d0858800c716456608c4ad178e6d26,San Diego,CA,921.0,f,2015-04-02 01:49:16.573,68.13,...,no_cash_received,t,f,f,f,f,NaN,NaN,f,t
6211914,ffff8ce7981194b8a08b7f57cdb967b9,fb55a5ca2abf93fabfe912c5783ab3c5,27fa7268652892095ac328ef3f3bdafe,2dd3291e033a7f8d118cbf9063706f6b,Marietta,GA,300.0,f,2015-05-08 14:30:02.987,56.79,...,amazon,t,f,f,f,f,NaN,NaN,f,t
6211925,ffffa4eac406cf61c160528032651844,fb89cd956a995228c5dd4cf99320e18c,d0c0e9bdf5f6672e1f904412432ab96e,09d3a322c69fd706b079ee953d2b3461,NaN,OK,740.0,f,2015-07-19 07:57:03.062,39.90,...,paypal,f,f,f,f,f,NaN,NaN,f,f
6211929,ffffa9bc330a059987824f513dd89634,986e263ed1129b43d8fb58cdc8e0f320,328a087d929740c67d022611d2b7665f,3089c09a021786e5a22c5b0c9c1aa3ab,NaN,,NaN,f,2015-10-25 17:26:13.098,8.50,...,no_cash_received,f,f,t,f,f,NaN,NaN,t,f
6211936,ffffc2258f60c320032aba082221d2c3,d947ae2a23d3c4bedfa2118da1968203,8036695f6736ad7474a5eba49b330f5b,97959136d6cdae570b2a851e27b3b918,NaN,PA,168.0,f,2015-11-02 23:29:21.936,85.00,...,amazon,f,f,f,f,t,cbaaeeb10af71cb0981dfff92ee19b69,teacher,f,f
6211945,ffffe07f350099b2b91cac35bc484975,9dfee9a266925bbf21d57f7f7f1833cd,5297621b44203b895c68bebc9243c96c,3f9c4a1a054c2ab38475edd296cdc088,Indianapolis,IN,462.0,f,2015-03-06 18:59:45.574,8.50,...,paypal,f,f,f,t,t,5821891ab57293d17a52b56108d3b634,teacher,f,f
6211949,ffffeb7b06828ffed052b299a144f824,8d04768c483c10bb2cd5b54ff811b85a,2b7ad72a7f6b6a1860aba53226aa1056,b7e39fad06c039803b26573a75f0d64c,NaN,WI,530.0,f,2015-10-15 18:09:42.732,8.50,...,creditcard,f,f,f,f,t,69a90070c63683550ff90367e558d9c8,teacher,f,f

In [182]:
# lets drop the column 'is_teacher_acct' since all values are 
# false

donation=donations.drop(['is_teacher_acct'],axis=1)

In [183]:
donation.shape

(684992, 22)

In [184]:
pd.crosstab(donation.payment_included_campaign_gift_card,columns=['payment_included_campaign_gift_card'])

col_0                                payment_included_campaign_gift_card
payment_included_campaign_gift_card
f                                                                 642021
t                                                                  42971

In [185]:
pd.crosstab(donation.payment_included_web_purchased_gift_card,columns=['payment_included_web_purchased_gift_card'])

col_0                                     payment_included_web_purchased_gift_card
payment_included_web_purchased_gift_card
f                                                                           587250
t                                                                            97742

In [186]:
donation.columns

Index(['_donationid', '_projectid', '_donor_acctid', '_cartid', 'donor_city',
       'donor_state', 'donor_zip', 'donation_timestamp', 'donation_to_project',
       'donation_optional_support', 'donation_total',
       'donation_included_optional_support', 'payment_method',
       'payment_included_acct_credit', 'payment_included_campaign_gift_card',
       'payment_included_web_purchased_gift_card', 'payment_was_promo_matched',
       'is_teacher_referred', 'giving_page_id', 'giving_page_type',
       'for_honoree', 'thank_you_packet_mailed'],
      dtype='object')

In [187]:
donation.payment_included_campaign_gift_card.replace(['t', 'f'], [1, 0], inplace=True)

In [188]:
donation.payment_included_campaign_gift_card

12         0
21         0
35         0
44         0
54         0
64         0
65         0
82         0
95         0
98         0
103        0
105        0
116        0
120        0
126        0
132        0
155        0
162        0
168        0
169        0
172        0
188        0
191        0
213        0
216        0
218        0
226        1
229        0
235        0
239        0
          ..
6211723    0
6211733    0
6211740    0
6211745    0
6211749    0
6211765    0
6211769    0
6211770    0
6211778    0
6211779    0
6211787    0
6211790    0
6211798    0
6211805    0
6211828    0
6211838    0
6211842    0
6211854    0
6211870    0
6211872    0
6211873    0
6211887    0
6211893    0
6211910    0
6211914    0
6211925    0
6211929    0
6211936    0
6211945    0
6211949    0
Name: payment_included_campaign_gift_card, Length: 684992, dtype: int64

In [189]:
donation.payment_included_web_purchased_gift_card.replace(['t', 'f'], [1, 0], inplace=True)

In [190]:
donation.shape

(684992, 22)

In [191]:
donation.payment_included_web_purchased_gift_card

12         0
21         0
35         0
44         1
54         1
64         0
65         1
82         0
95         0
98         0
103        0
105        0
116        0
120        1
126        0
132        0
155        0
162        0
168        1
169        0
172        0
188        0
191        1
213        1
216        0
218        0
226        0
229        0
235        1
239        0
          ..
6211723    0
6211733    0
6211740    0
6211745    0
6211749    0
6211765    0
6211769    0
6211770    0
6211778    0
6211779    0
6211787    0
6211790    1
6211798    0
6211805    0
6211828    0
6211838    0
6211842    0
6211854    1
6211870    0
6211872    0
6211873    0
6211887    1
6211893    0
6211910    0
6211914    0
6211925    0
6211929    1
6211936    0
6211945    0
6211949    0
Name: payment_included_web_purchased_gift_card, Length: 684992, dtype: int64

In [192]:
donation.shape

(684992, 22)

In [193]:
donation.loc[ (donation.payment_included_web_purchased_gift_card==1) |
                                                    (donation.payment_included_campaign_gift_card==1)]

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,donation_timestamp,donation_to_project,donation_optional_support,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
44,00008a62460f74b882f311a6b7c8d0ce,9ac6594c849f7e7819b97788838df039,a769ba11855d767c99311294138208c2,a2d51aab57872568cdf36adb5b260b67,NaN,WA,981.0,2015-01-12 11:07:39.044,12.75,2.25,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
54,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,2015-02-03 10:41:16.087,20.18,0.00,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
65,0000afd927e5e4dfad32f7fd81d7262a,984c0ae6626194d551b21c4b569c9f80,328a087d929740c67d022611d2b7665f,8cb70b8d4615c1789a53e9256f5e9bfd,NaN,,NaN,2015-11-10 18:32:26.71,8.50,1.50,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f
120,0001159d13601a582dda846f252ec4c1,148260e804c5ebbb3fc140c28d6ca15b,68c355078d2e13b3d0ec6f887f9bca9c,ae73e181516a4ba2b55769fc4a27e987,NaN,IL,NaN,2015-06-07 12:55:52.668,6.72,1.18,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
168,00018379bfe300eb5b7d4312ca7b1275,3acf88e3454eb64889a16b47e4d8d772,b34bdb6fed5ac27c16fe95daa59422f2,0b8ec43b1c0c871cdfd6d5bfdc0d58e8,San Francisco,CA,941.0,2015-11-02 13:16:37.838,811.00,143.12,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,t
191,0001c98711262e2748e24d0d98e4e76e,5a942c1a2d2d0116a0a2e2dc67127f0c,68c355078d2e13b3d0ec6f887f9bca9c,c2d205a62822a5d39154c2284e015ba6,NaN,IL,NaN,2015-04-01 20:37:39.362,6.72,1.18,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f
213,0001fa37e5098201147dbb9e77d13a65,5df98033d4f70a4f694c82dee7724dc3,fbfe8451ed8688bb67d4846c728c2747,3c104561ede7ecf5bd809cc77fcb7fa0,San Jose,CA,951.0,2015-12-28 12:00:54.132,432.43,76.31,...,paypal,f,0,1,f,f,NaN,NaN,f,f
226,00021e9722349bebbde50d27a605c856,7780e5dacb615cc6243fa7af1315438e,df54d4ee5ca2ea35097e4a0d1efcc60d,7ac06b722a1ac93ce9ec7bb484fa3b11,NaN,AZ,850.0,2015-12-02 10:13:30.26,21.25,3.75,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
235,0002443a44b824416f673f935fb6c2bd,a898c91eda715e204791b2658aae27c0,328a087d929740c67d022611d2b7665f,d37c533f2f514fedbf6325ac6ccb50e6,NaN,,NaN,2015-11-13 01:14:21.675,8.50,1.50,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f
255,0002799bde2eaaeb22f56a753e39a117,b102ab07e7570db9f73b91983a0d43ef,579ce530cca4c61ef7fe386e5b389849,7eba51581b979b9e16a0009ceba334c3,NaN,,941.0,2015-10-23 10:58:58.531,746.49,131.73,...,no_cash_received,f,0,1,f,f,5af125ff670df9def42ec1711fe437cb,NaN,t,f
373,0003ac91e047e24b58e8a48e26955ac9,707022fe24019d5531c6145b55ab43a5,0f93e3cdf42ead47ac9f652d844f4c65,1a42ceb95d84e7bb840c66d5f11746c0,NaN,NaN,NaN,2015-07-12 13:59:34.44,8.50,1.50,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
474,0004eff0774c68fabaec34e3328a4928,87447277ea27332f2fb63c2f9c334c07,c76b203da27ddf7a1ee5c84aafea4956,be652ca0999a018627a254028a020306,Wilmington,DE,198.0,2015-04-08 08:34:18.715,42.50,7.50,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,t
501,00053c6a9d9bfdfccc009c642983ebb0,35abad5d6d22e2f5b5f3bef2a90c4c7a,41d1e5bcc907b51150887d8fe591ffa3,98e2cdc5a4f3875b3b3745d48656ca3d,NaN,,100.0,2015-04-15 14:26:42.553,42.50,7.50,...,no_cash_received,f,0,1,f,t,3ead820b44f16f414cb98b04704f3fe3,teacher,f,f
547,0005bcf3896a09114d7d6077efa43924,82ab9ac31b27867b6dabfed7ed0644ec,cb7ced94e42a8a5aa202aaf26c524de1,36988fbaa3b632effa6a749997583cc8,NaN,AZ,850.0,2015-05-03 02:43:01.503,21.25,3.75,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
570,0005e599adf902c15aba4890e5c21dbf,0fa84d5ad4b0cebaba4c9e030179190e,85f94a9ecd374112c5176e07d663b6b8,85a556bf6e320bb2a454245257f868bb,NaN,NaN,NaN,2015-07-14 20:48:55.04,21.25,3.75,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
654,0006c635801c9772f0c82a903c6998f6,7da75a87a7fc2a850f969abd9f71f148,41d1e5bcc907b51150887d8fe591ffa3,220f65a7b69f1bfb78828d8c7082c88d,NaN,,100.0,2015-01-27 14:05:22.111,42.50,7.50,...,no_cash_received,f,0,1,f,t,4fb67c7beef2ff2624a043f6edba0255,teacher,f,f
672,0007077c5be6e63bb8db7c853f1c71d5,c17850b6c58b1df0800cceb97055479b,1a0f833817ee4bd3899354f6b39126a2,8763b3b94b90f447a158bf9f11282de9,NaN,NaN,NaN,2015-09-01 15:21:33.045,100.00,0.00,...,no_cash_received,f,1,0,f,f,41e4ad63b529ddb018cd3f5d81fdba1d,campaign,f,f
675,00071ad911d36fa0706bb2c70b80c799,0fa204cdc42ba14a783cd2e636d57d9e,af50cb46f3d253b2f65e07e4ad901453,2c047a0b0174d7c706785e23e7e1b067,NaN,,100.0,2015-10-19 12:58:16.952,85.00,15.00,...,no_cash_received,f,0,1,f,t,a99d0fb25a855a8e0989d4061c1a6326,teacher,f,f
694,00073a1053f4319c0a6f28ef67edfe49,abb22f3244a1a3ddcaa1c2a294007532,328a087d929740c67d022611d2b7665f,a42b95c89eda6d24872984086c4066fe,NaN,,NaN,2015-11-17 15:09:27.153,8.50,1.50,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f
716,000788eabed90a42e3c8527053b65919,1dc63811e6cd6faaab38fa3eb2c35e3a,68c355078d2e13b3d0ec6f887f9bca9c,cb290c525843deee7452efdb3347324f,NaN,IL,NaN,2015-02-22 22:33:54.688,6.80,1.20,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
751,0007f092eebeb7678c6fbe7253538d9a,3fdc66f1b58fe77d536b780f03e9380a,1b7f909458ad3703086d1c5fc6626674,e28bfa069aba8e534a32c4bc5b58aea8,Minneapolis,MN,554.0,2015-12-18 11:09:20.875,42.50,7.50,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
757,0007f7c6683e5819a3c1cd892eba88e3,f112a97c8466db3258f81f0ac956fe6d,579ce530cca4c61ef7fe386e5b389849,f6a947cff370ff61b740e7af22a1338d,NaN,,941.0,2015-10-20 19:56:59.068,1192.80,210.49,...,no_cash_received,f,0,1,f,f,5af125ff670df9def42ec1711fe437cb,NaN,t,f
771,0008252873a2b8ae0bb703f457fafa77,04eed48b57754a4eca330e0053e1def3,a34f615160f4de3eb161eef8d284bc61,d4842d4cce1804006ffc19164ae5fb27,Oklahoma City,OK,731.0,2015-10-19 15:48:35.58,510.00,90.00,...,no_cash_received,f,0,1,f,f,d31d1cd2d4b9dc7a7612c8e3f213d042,campaign,f,t
910,00099a9b307b87249847d1149c4e9ff6,5ae24be58ee45c5346dda5c47c3bf93e,41d1e5bcc907b51150887d8fe591ffa3,d0e6788599bbe8aed01a1bccce3de702,NaN,,100.0,2015-06-30 17:05:44.43,42.50,7.50,...,no_cash_received,f,0,1,f,t,fc1cd591f79b14764130e3473dd0e272,teacher,f,f
961,000a26c487390b2da68b1b02d50bc6bb,faffb96f35fe421ce2b6a38c0aad2bba,41d1e5bcc907b51150887d8fe591ffa3,81349c5cc14e94c83cf89afe3ad98789,NaN,,100.0,2015-03-05 12:18:32.563,21.25,3.75,...,no_cash_received,f,0,1,f,t,916104f3111a0404abf56cb3405f5aad,teacher,f,f
986,000a708d818bf795299fa2b6b4d13b10,d91dec892573bd8f840e07674700c892,af50cb46f3d253b2f65e07e4ad901453,7219500f4d893f49cfc279ad833f2f5d,NaN,,100.0,2015-11-27 17:07:32.783,17.00,3.00,...,no_cash_received,f,0,1,f,t,54af8fe82292fc9be3dd171715bac739,teacher,f,f
1040,000aed17ba16c5753c813bd002afbaa7,10deb20d869c52fa25458ba46c5592b5,68c355078d2e13b3d0ec6f887f9bca9c,7f1bd82a7725234475ec476b9cc21e7f,NaN,IL,NaN,2015-04-03 21:16:37.867,6.72,1.18,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
1101,000b8c253acfa01ce29e2fde2229803f,968efcdbdfb90d838978692f3de2ef8e,68c355078d2e13b3d0ec6f887f9bca9c,c1abe54ca15d17b6d7c560e7d910710d,NaN,IL,NaN,2015-10-04 05:32:42.649,6.72,1.18,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
1182,000c4c5205addcc7624faae56194113a,5b925f15cf422e35446552bc22e05c6b,68c355078d2e13b3d0ec6f887f9bca9c,65824f107dde10f4665a433019e8a279,NaN,IL,NaN,2015-11-14 10:45:59.202,8.02,1.42,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
1220,000cabf0c54c1c237d37f2a7eb0049d2,a3ff3d2535e8953963e6476aea2ab3d0,efd8fc05f0b4abcbfa9f801bfd28be70,474dec40febd3d0ea70ffc4b77aeb8db,NaN,PA,73.0,2015-08-17 11:58:11.772,133.45,23.55,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6210607,fff1f754825ac3df17bdbe11dd2391d6,295e270a130eca52d37f761a2bc0a795,68c355078d2e13b3d0ec6f887f9bca9c,e0ef9565d32bc4896eeaf1396d552a4f,NaN,IL,NaN,2015-12-03 15:08:12.304,6.72,1.18,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f
6210652,fff2761e0de730bf6e96da47a5e1f883,422091a135c546f5a3540fdc4140567d,68c355078d2e13b3d0ec6f887f9bca9c,b1113cc9b0d8a1ca2234f65eece8b864,NaN,IL,NaN,2015-12-22 05:10:28.758,6.72,1.18,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
6210685,fff2ade4a2d12b8e76853a73082858e7,fb2146a881129c852fc475dc50fa7185,758f33c212fb3137614a84c553a2e479,cb030017338abe2919c6ea68d7d5841a,Torrance,CA,905.0,2015-09-22 19:54:03.725,253.03,44.65,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,t
6210689,fff2b518c1dd2e31162aff4d04fdda10,daf564f521172d1daa0da3bf45b88b34,3d2bfe1aeacddd8c661f3ce49e40de99,b902f97f9c4f66a59d102b6434e991dc,NaN,PA,151.0,2015-11-13 16:35:26.001,42.50,7.50,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
6210818,fff40b84cd6f7256c3b554ddb4006770,0bb20fa1b3ec859c45cbd4e4bf6e85f6,a310315d508c6985f1a53c61d2fb1a1d,1aef8e0f8937ec45be31a76e08364275,NaN,TX,797.0,2015-11-18 13:32:40.395,8.50,1.50,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
6210988,fff5c457db2b8e5c6b0800b15ea98485,09140472b6df9965223798f82c496788,2cea5a7e730406ee40dfbbde6098010c,673c089d524787f5c497bc57b1d77724,NaN,CA,945.0,2015-10-15 19:19:31.934,8.50,1.50,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
6211003,fff5e77e41ecae1dc98311cdc2507c43,1c49e6b2e51fbc4e78311674200896ac,68c355078d2e13b3d0ec6f887f9bca9c,6282c265de46d01a239ec880eeb1befe,NaN,IL,NaN,2015-03-22 16:06:01.258,6.80,1.20,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f
6211041,fff63c6f33948a22180201fbd1a40f27,331cc6a18ed8d2d817c021e329f7fa9f,e1762b23c6684e0b14407e4cbc5deb7e,e998cf12bb667cded3f0dcb0e2b2edf2,NaN,,100.0,2015-12-30 15:24:22.412,55.25,9.75,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
6211055,fff65849a72bb88224ee28ee23e30bf3,c02b980dd0759eee4358ef54e61cecf9,5469ae8a24991776c2cabc70c2e11660,06b08653f88e7f58f66cb4463ef25a0f,NaN,,100.0,2015-08-21 16:36:12.101,25.50,4.50,...,no_cash_received,f,0,1,f,t,0b5d2d30d0cef3fa86aecdb89db617b5,teacher,f,f
6211059,fff65ea63a4767654a778caba79cedcc,c18704615856825970c8320f3a187aa7,68c355078d2e13b3d0ec6f887f9bca9c,989037ca26e3eba66e51843c3a7478ee,NaN,IL,NaN,2015-01-11 20:31:10.279,6.80,1.20,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
6211076,fff6a235d75bc48dd3b65609977ceab4,d0b5a4de4ae8b9d8d1b84d30846ff487,7a924f3ebedac329d7fc2371da719f76,f74df6ad84312a16ef722b56d7895107,Cumming,GA,300.0,2015-12-28 06:37:18.017,8.50,1.50,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
6211079,fff6a58f5de6f1b0cabfcb7058e972ab,7fc293fdaf97492cc321d0ded8146f65,0ef9f641c5827b2bb191cbc3a6363bf7,7cf844f2a5b625c48650d0b485446c5a,Millville,DE,199.0,2015-10-04 19:51:02.348,21.25,3.75,...,amazon,f,1,0,f,f,NaN,NaN,f,f
6211080,fff6a9032e2ac0453016de17cd62b8c0,a2f1bbf9aeedde7338442632962f30a7,6a560447427676fa5bb2af7219b1bed1,4f042e0961f8f58d6376478d92dd643c,NaN,SC,296.0,2015-03-05 14:11:03.305,37.40,6.60,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
6211083,fff6a98f4b13565d7d76c8f405f50e34,98e91e525485fd053710d0d7fc30763b,68c355078d2e13b3d0ec6f887f9bca9c,d723835c873b880eef8848a4f023fe1e,NaN,IL,NaN,2015-01-29 16:46:27.074,6.80,1.20,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
6211177,fff7b9307cfbd92cfee85a71c427d95d,dfcc9139c3505cc2b721fa90e14e73f9,fce8f3ba56f72db7e0b1021dfdb37fd5,d7f19ac7dbc7e0c9eb8d25e6fdce46f9,NaN,IL,617.0,2015-12-30 16:45:08.125,21.25,3.75,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
6211196,fff7ea111c6814abdded4d52953bf3fe,3905da4ec7a8ebe6d8d51a1306ff7234,328a087d929740c67d022611d2b7665f,9de1a81791662e32cbf2632d5cbe1ab8,NaN,,NaN,2015-09-22 21:44:14.619,8.50,1.50,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f
6211383,fff9f996bce7eff3f6c5c437da16d997,96ce81335d3174189b7510ab79f2a90f,328a087d929740c67d022611d2b7665f,cf56af43d9b173b65534a8002672ffd1,NaN,,NaN,2015-09-15 23:23:28.443,8.50,1.50,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
6211398,fffa138e935f8c4b61247353147f9338,ffdd6a998a16c6ab659337f9fca88d1d,b069de83ed367e9d5518824e15db6f21,73b1ba958572283ae5d8f06b8f22ccd0,Meridian,MS,393.0,2015-07-06 13:34:17.386,50.00,0.00,...,paypal,f,1,0,f,f,NaN,NaN,f,t
6211409,fffa275b1bf28b91ab9aa61e6ab9f8e3,52938e03acc6ee1cb9544da703d0c005,0d5bb0ae869fba736430b43ea064fa9f,0c5dd4c687944670547f3301657af5cf,NaN,CA,945.0,2015-10-25 06:08:31.889,8.50,1.50,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
6211421,fffa4995aef64c165ad24ba1346899e1,96a9f43bdd51447dfb232b89dfaa9e53,a34f615160f4de3eb161eef8d284bc61,e8c3eeb18b80b1461fa1f0c475ffecbc,Oklahoma City,OK,731.0,2015-10-12 10:37:59.886,510.00,90.00,...,no_cash_received,f,0,1,f,f,d31d1cd2d4b9dc7a7612c8e3f213d042,campaign,f,t
6211437,fffa7f7a738ce11bb23c5e7445fa461f,73f67a7d1b155da5957feeb45da90b3b,af50cb46f3d253b2f65e07e4ad901453,1c2e88d4d5287bc69b4eadd5282d62fa,NaN,,100.0,2015-07-29 18:06:52.077,42.50,7.50,...,no_cash_received,f,0,1,f,t,73df9ad15313388983d2525d392ad389,teacher,f,f
6211447,fffaa5f31f206b7b76ef934a71f84501,27a8adcb8d5e5e438bf8ef9b783ab5ee,5065ea176b57fb53fab59afd029db9d2,803dfa71eb4caddb8370694c68a90d02,NaN,AZ,850.0,2015-12-03 10:49:18.949,21.25,3.75,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
6211462,fffad315d1539670d36df747a16c80e4,3dffb4a4a18c4ec72b4af5bea2272b11,68c355078d2e13b3d0ec6f887f9bca9c,2d3e02be69a5136194f54b322963878b,NaN,IL,NaN,2015-01-15 00:19:25.911,6.80,1.20,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f
6211472,fffafcaab1ab4a91de32e79170be645b,63d856e58d203198a655052e73cd40b8,b20a2f1971c591e855fb8e03e3dbe342,0953541af1b91ad45608683be7b7ca13,NaN,NaN,NaN,2015-08-31 09:53:36.588,21.25,3.75,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
6211623,fffc873f4dbeaa750d4a12c32a7fb4b8,0dd7dcc26357374011dedb77f6184503,74c3e68cd312d52419fab9824fab3f14,084ea395b5e7ecc5769fa54d7b8388b3,NaN,AZ,852.0,2015-12-08 10:07:51.144,21.25,3.75,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
6211670,fffd14b697097ca2e5efb6672b19dbde,4c3f791a106df5ef5ca304cfa6bbbeda,000a72a7ddce12bbbdd0688171984417,c1c205b5d6676c5fe9b1ccff7e7bc5d1,NaN,NaN,NaN,2015-10-07 16:34:55.333,8.50,1.50,...,no_cash_received,f,1,0,f,f,NaN,NaN,f,f
6211790,fffe4cf76fb27fd7211538d8b7baf2a8,59915936d290031619c54911f4f4eeaa,328a087d929740c67d022611d2b7665f,8145c3f8dbfe51ed97c63e2f4cda20b5,NaN,,NaN,2015-11-17 16:23:09.344,8.50,1.50,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f
6211854,fffef9adac6006a2fb9db05cfd69d009,732b9aa74b35565c3d634e61f34db37a,d5728ac0f98a7007fd91c57a7d52f2fd,3c1fb631e0c7527c4ed62d441fdd4530,NaN,NaN,NaN,2015-09-18 14:51:52.288,10.00,0.00,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
6211887,ffff58393885ea316519d7852f22c930,39d22ca66b07302a89298fcbaf528b85,5f8a31b40158a3881c423f19cbe43336,76b71d22076662d0b050261ebb406423,NaN,NaN,NaN,2015-05-04 00:13:40.82,170.00,30.00,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
6211929,ffffa9bc330a059987824f513dd89634,986e263ed1129b43d8fb58cdc8e0f320,328a087d929740c67d022611d2b7665f,3089c09a021786e5a22c5b0c9c1aa3ab,NaN,,NaN,2015-10-25 17:26:13.098,8.50,1.50,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f

In [194]:
Final_Total_donations_2015=pd.DataFrame()
Final_Total_donations_2015=donation.loc[ (donation.payment_included_web_purchased_gift_card==1) |
                                                    (donation.payment_included_campaign_gift_card==1)]

In [195]:
Final_Total_donations_2015.shape

(140572, 22)

In [58]:
Final_Total_donations_2015.head()

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,donation_timestamp,donation_to_project,donation_optional_support,...,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,is_teacher_referred,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed
44,00008a62460f74b882f311a6b7c8d0ce,9ac6594c849f7e7819b97788838df039,a769ba11855d767c99311294138208c2,a2d51aab57872568cdf36adb5b260b67,NaN,WA,981.0,2015-01-12 11:07:39.044,12.75,2.25,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
54,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,2015-02-03 10:41:16.087,20.18,0.00,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
65,0000afd927e5e4dfad32f7fd81d7262a,984c0ae6626194d551b21c4b569c9f80,328a087d929740c67d022611d2b7665f,8cb70b8d4615c1789a53e9256f5e9bfd,NaN,,NaN,2015-11-10 18:32:26.71,8.50,1.50,...,no_cash_received,f,0,1,f,f,NaN,NaN,t,f
120,0001159d13601a582dda846f252ec4c1,148260e804c5ebbb3fc140c28d6ca15b,68c355078d2e13b3d0ec6f887f9bca9c,ae73e181516a4ba2b55769fc4a27e987,NaN,IL,NaN,2015-06-07 12:55:52.668,6.72,1.18,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,f
168,00018379bfe300eb5b7d4312ca7b1275,3acf88e3454eb64889a16b47e4d8d772,b34bdb6fed5ac27c16fe95daa59422f2,0b8ec43b1c0c871cdfd6d5bfdc0d58e8,San Francisco,CA,941.0,2015-11-02 13:16:37.838,811.00,143.12,...,no_cash_received,f,0,1,f,f,NaN,NaN,f,t

In [196]:
rowsToDrop=donation.loc[ (donation.payment_included_web_purchased_gift_card==1) &
                                                    (donation.payment_included_campaign_gift_card==1)].index

In [197]:
rowsToDrop.shape

(141,)

In [198]:
Final_Total_donations_2015.drop(rowsToDrop,inplace=True)

C:\Users\Nameetha\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [199]:
Final_Total_donations_2015.shape

(140431, 22)

In [200]:
pd.crosstab(Final_Total_donations_2015.payment_included_campaign_gift_card,columns=['payment_included_campaign_gift_card'])

col_0                                payment_included_campaign_gift_card
payment_included_campaign_gift_card
0                                                                  97601
1                                                                  42830

In [201]:
pd.crosstab(Final_Total_donations_2015.payment_included_web_purchased_gift_card,columns=['payment_included_web_purchased_gift_card'])

col_0                                     payment_included_web_purchased_gift_card
payment_included_web_purchased_gift_card
0                                                                            42830
1                                                                            97601

In [202]:
pd.crosstab([Final_Total_donations_2015.payment_included_web_purchased_gift_card,Final_Total_donations_2015.payment_included_campaign_gift_card],
            columns=['payment_included_web_purchased_gift_card','payment_included_campaign_gift_card'])

col_0                                                                        payment_included_web_purchased_gift_card
col_1                                                                             payment_included_campaign_gift_card
payment_included_web_purchased_gift_card payment_included_campaign_gift_card
0                                        1                                                                      42830
1                                        0                                                                      97601

In [63]:
#Final_Total_donations_2015.payment_included_campaign_gift_card.replace([1, 0], ['t', 'f'], inplace=True)

C:\Users\Nameetha\Anaconda3\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [203]:
pd.crosstab([Final_Total_donations_2015.payment_included_campaign_gift_card],columns=['payment_included_campaign_gift_card'])

col_0                                payment_included_campaign_gift_card
payment_included_campaign_gift_card
0                                                                  97601
1                                                                  42830

In [65]:
#Final_Total_donations_2015.payment_included_web_purchased_gift_card.replace([1, 0], ['t', 'f'], inplace=True)

C:\Users\Nameetha\Anaconda3\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [204]:
pd.crosstab([Final_Total_donations_2015.payment_included_web_purchased_gift_card],columns=['payment_included_web_purchased_gift_card'])

col_0                                     payment_included_web_purchased_gift_card
payment_included_web_purchased_gift_card
0                                                                            42830
1                                                                            97601

In [205]:
giftcards = pd.read_csv('C://Users/Nameetha/Desktop/Stata/opendata_giftcards000.gz', 
                        escapechar='\\', names=['_giftcardid', 'dollar_tier', '_buyer_acctid', 'buyer_city', 
                                                'buyer_state', 'buyer_zip', 'date_purchased', '_buyer_cartid', 
                                                '_recipient_acctid', 'recipient_city', 'recipient_state', 
                                                'recipient_zip', 'redeemed', 'date_redeemed', '_redeemed_cartid', 
                                                'payment_method', 'payment_included_acct_credit', 
                                                'payment_included_campaign_gift_card', 
                                                'payment_included_web_purchased_gift_card', 'payment_was_promo_matched'])

C:\Users\Nameetha\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
giftcards = pd.read_csv('C://Users/vivek4/Downloads/donorschoose_data/opendata_giftcards000.gz', 
                        escapechar='\\', names=['_giftcardid', 'dollar_tier', '_buyer_acctid', 'buyer_city', 
                                                'buyer_state', 'buyer_zip', 'date_purchased', '_buyer_cartid', 
                                                '_recipient_acctid', 'recipient_city', 'recipient_state', 
                                                'recipient_zip', 'redeemed', 'date_redeemed', '_redeemed_cartid', 
                                                'payment_method', 'payment_included_acct_credit', 
                                                'payment_included_campaign_gift_card', 
                                                'payment_included_web_purchased_gift_card', 'payment_was_promo_matched'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [206]:
giftcards.shape

(1053024, 20)

In [207]:
#print("Filtering data for 2015...")
giftcards_2015=giftcards[(giftcards['date_purchased'].apply(lambda x:x[0:4]) == '2015')]

In [208]:
giftcards_2015.shape

(355862, 20)

In [209]:
giftcards_2015.columns

Index(['_giftcardid', 'dollar_tier', '_buyer_acctid', 'buyer_city',
       'buyer_state', 'buyer_zip', 'date_purchased', '_buyer_cartid',
       '_recipient_acctid', 'recipient_city', 'recipient_state',
       'recipient_zip', 'redeemed', 'date_redeemed', '_redeemed_cartid',
       'payment_method', 'payment_included_acct_credit',
       'payment_included_campaign_gift_card',
       'payment_included_web_purchased_gift_card',
       'payment_was_promo_matched'],
      dtype='object')

In [210]:
#select only the columns related to recipient
giftcards_2015_recipients=giftcards_2015[['dollar_tier','_recipient_acctid','recipient_state','date_redeemed',
                                         '_redeemed_cartid',]]

In [211]:
giftcards_2015_recipients.head()

,dollar_tier,_recipient_acctid,recipient_state,date_redeemed,_redeemed_cartid
545469,under_10,68c355078d2e13b3d0ec6f887f9bca9c,IL,2015-01-01 00:00:00,ac524e702d1976cc98ea761fa62b398f
545470,10_to_100,ddcd32806197b382090fee5caf9b7238,,2015-01-01 00:00:00,NaN
545471,under_10,68c355078d2e13b3d0ec6f887f9bca9c,IL,2015-01-01 00:00:00,c3355f2804af5d38f3b8094a3ec51e97
545472,under_10,68c355078d2e13b3d0ec6f887f9bca9c,IL,2015-01-01 00:00:00,3b7947c39dbfc28de457f4fe0ea2c9b7
545473,under_10,68c355078d2e13b3d0ec6f887f9bca9c,IL,2015-01-01 00:00:00,f4d3a2f509cbdc9a67fc3dba6d157919

In [212]:
giftcards_2015_recipients.shape

(355862, 5)

In [213]:
#As you can see in _redeemed_cartid, there are NaN, lets drop those
giftcards_2015_recipients=giftcards_2015_recipients.dropna()

In [214]:
giftcards_2015_recipients.shape

(119992, 5)

In [215]:
Final_Total_donations_2015.columns

Index(['_donationid', '_projectid', '_donor_acctid', '_cartid', 'donor_city',
       'donor_state', 'donor_zip', 'donation_timestamp', 'donation_to_project',
       'donation_optional_support', 'donation_total',
       'donation_included_optional_support', 'payment_method',
       'payment_included_acct_credit', 'payment_included_campaign_gift_card',
       'payment_included_web_purchased_gift_card', 'payment_was_promo_matched',
       'is_teacher_referred', 'giving_page_id', 'giving_page_type',
       'for_honoree', 'thank_you_packet_mailed'],
      dtype='object')

In [216]:
Final_Total_donations_2015["_cartid"].shape

(140431,)

In [217]:
Final_Total_donations_2015.shape

(140431, 22)

In [218]:
FinalData=pd.merge(Final_Total_donations_2015,giftcards_2015_recipients, how='inner',left_on=['_cartid'],right_on=['_redeemed_cartid'])

In [219]:
FinalData.shape

(72478, 27)

In [155]:
FinalData.head()

,_donationid,_projectid,_donor_acctid,_cartid,donor_city,donor_state,donor_zip,donation_timestamp,donation_to_project,donation_optional_support,...,giving_page_id,giving_page_type,for_honoree,thank_you_packet_mailed,dollar_tier,_recipient_acctid,recipient_state,date_redeemed,_redeemed_cartid,Top_Up
0,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,2015-02-03 10:41:16.087,20.18,0.00,...,NaN,NaN,f,f,10_to_100,b88613f455e30a1a8b1dc8df19ef473a,NY,2015-02-03 00:00:00,b006f00fcc85afd99356a6700258ed45,False
1,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,2015-02-03 10:41:16.087,20.18,0.00,...,NaN,NaN,f,f,100_and_up,b88613f455e30a1a8b1dc8df19ef473a,NY,2015-02-03 00:00:00,b006f00fcc85afd99356a6700258ed45,False
2,00009c2ea15fa79d5130cb4e0703cc6b,229e764c489c32f9464140d0073112d0,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,2015-02-03 10:41:16.087,20.18,0.00,...,NaN,NaN,f,f,10_to_100,b88613f455e30a1a8b1dc8df19ef473a,NY,2015-02-03 00:00:00,b006f00fcc85afd99356a6700258ed45,False
3,b3087c1810396b41f84d03fd9a4a7de8,702b4c097b9e20827aab99622c72df30,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,2015-02-03 10:41:16.526,106.08,18.72,...,NaN,NaN,f,f,10_to_100,b88613f455e30a1a8b1dc8df19ef473a,NY,2015-02-03 00:00:00,b006f00fcc85afd99356a6700258ed45,False
4,b3087c1810396b41f84d03fd9a4a7de8,702b4c097b9e20827aab99622c72df30,b88613f455e30a1a8b1dc8df19ef473a,b006f00fcc85afd99356a6700258ed45,Brooklyn,NY,112.0,2015-02-03 10:41:16.526,106.08,18.72,...,NaN,NaN,f,f,100_and_up,b88613f455e30a1a8b1dc8df19ef473a,NY,2015-02-03 00:00:00,b006f00fcc85afd99356a6700258ed45,False

In [91]:
FinalData.columns

Index(['_donationid', '_projectid', '_donor_acctid', '_cartid', 'donor_city',
       'donor_state', 'donor_zip', 'donation_timestamp', 'donation_to_project',
       'donation_optional_support', 'donation_total',
       'donation_included_optional_support', 'payment_method',
       'payment_included_acct_credit', 'payment_included_campaign_gift_card',
       'payment_included_web_purchased_gift_card', 'payment_was_promo_matched',
       'is_teacher_referred', 'giving_page_id', 'giving_page_type',
       'for_honoree', 'thank_you_packet_mailed', 'dollar_tier',
       '_recipient_acctid', 'recipient_state', 'date_redeemed',
       '_redeemed_cartid'],
      dtype='object')

In [220]:
FinalData.payment_method.replace(['no_cash_received', 'promo_code_match', 'creditcard', 'paypal',
       'amazon', 'double_your_impact_match', 'check', 'almost_home_match'], [1,0, 0, 0,
      0, 0, 0, 0], inplace=True)

In [221]:
pd.crosstab([FinalData.payment_method],columns=['payment_method'])

col_0           payment_method
payment_method
0                         1513
1                        70965

In [222]:
pd.crosstab([FinalData.payment_included_web_purchased_gift_card,FinalData.payment_included_campaign_gift_card],
            columns=['payment_included_web_purchased_gift_card','payment_included_campaign_gift_card'])

col_0                                                                        payment_included_web_purchased_gift_card
col_1                                                                             payment_included_campaign_gift_card
payment_included_web_purchased_gift_card payment_included_campaign_gift_card
1                                        0                                                                      72478

In [223]:
pd.crosstab([FinalData.payment_included_web_purchased_gift_card],columns=['payment_included_web_purchased_gift_card'])

col_0                                     payment_included_web_purchased_gift_card
payment_included_web_purchased_gift_card
1                                                                            72478

In [224]:
pd.crosstab([FinalData.payment_included_campaign_gift_card],columns=['payment_included_campaign_gift_card'])

col_0                                payment_included_campaign_gift_card
payment_included_campaign_gift_card
0                                                                  72478

In [139]:
either_card=[(FinalData.payment_included_campaign_gift_card==) |
                                                    (FinalData.payment_included_web_purchased_gift_card==1)]

In [225]:
FinalData["Top_Up"]= ((FinalData.payment_included_campaign_gift_card==1) |
                                                    (FinalData.payment_included_web_purchased_gift_card==1)) & (FinalData.payment_method==0)

In [226]:
FinalData.shape

(72478, 28)

In [227]:
pd.crosstab([FinalData.Top_Up],columns=['Top_Up'])

col_0   Top_Up
Top_Up
False    70965
True      1513

In [228]:

FinalData.payment_method.replace([1,0], ["No cash","cash"], inplace=True)

In [229]:
FinalData["payment_method"]

0        No cash
1        No cash
2        No cash
3        No cash
4        No cash
5        No cash
6        No cash
7        No cash
8        No cash
9        No cash
10       No cash
11       No cash
12       No cash
13          cash
14       No cash
15       No cash
16       No cash
17       No cash
18       No cash
19       No cash
20       No cash
21       No cash
22       No cash
23       No cash
24       No cash
25       No cash
26       No cash
27       No cash
28       No cash
29       No cash
          ...
72448    No cash
72449    No cash
72450    No cash
72451    No cash
72452    No cash
72453    No cash
72454    No cash
72455    No cash
72456    No cash
72457    No cash
72458    No cash
72459    No cash
72460    No cash
72461    No cash
72462    No cash
72463    No cash
72464    No cash
72465    No cash
72466    No cash
72467    No cash
72468    No cash
72469    No cash
72470    No cash
72471    No cash
72472    No cash
72473    No cash
72474    No cash
72475    No cash
72476    No cash
72477    No cash
Name: payment_method, Length: 72478, dtype: object

In [230]:

Projects = pd.read_csv("C://Users/Nameetha/Desktop/Stata/opendata_projects000.gz",   escapechar='\\', names=['_projectid', '_teacher_acctid', '_schoolid', 'school_ncesid', 'school_latitude', 'school_longitude', 'school_city', 'school_state', 'school_zip', 'school_metro', 'school_district', 'school_county', 'school_charter', 'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp', 'school_charter_ready_promise', 'teacher_prefix', 'teacher_teach_for_america', 'teacher_ny_teaching_fellow', 'primary_focus_subject', 'primary_focus_area' ,'secondary_focus_subject', 'secondary_focus_area', 'resource_type', 'poverty_level', 'grade_level', 'vendor_shipping_charges', 'sales_tax', 'payment_processing_charges', 'fulfillment_labor_materials', 'total_price_excluding_optional_support', 'total_price_including_optional_support', 'students_reached', 'total_donations', 'num_donors', 'eligible_double_your_impact_match', 'eligible_almost_home_match', 'funding_status', 'date_posted', 'date_completed', 'date_thank_you_packet_mailed', 'date_expiration'])

In [88]:
Projects = pd.read_csv("C://Users/vivek4/Downloads/donorschoose_data/opendata_projects000.gz",   escapechar='\\', names=['_projectid', '_teacher_acctid', '_schoolid', 'school_ncesid', 'school_latitude', 'school_longitude', 'school_city', 'school_state', 'school_zip', 'school_metro', 'school_district', 'school_county', 'school_charter', 'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp', 'school_charter_ready_promise', 'teacher_prefix', 'teacher_teach_for_america', 'teacher_ny_teaching_fellow', 'primary_focus_subject', 'primary_focus_area' ,'secondary_focus_subject', 'secondary_focus_area', 'resource_type', 'poverty_level', 'grade_level', 'vendor_shipping_charges', 'sales_tax', 'payment_processing_charges', 'fulfillment_labor_materials', 'total_price_excluding_optional_support', 'total_price_including_optional_support', 'students_reached', 'total_donations', 'num_donors', 'eligible_double_your_impact_match', 'eligible_almost_home_match', 'funding_status', 'date_posted', 'date_completed', 'date_thank_you_packet_mailed', 'date_expiration'])

In [231]:
Projects_2015=Projects[(Projects['date_posted'].apply(lambda x:x[0:4]) == '2015')]

In [232]:
TopUp_Projects=pd.merge(FinalData,Projects_2015, how='inner',left_on=['_projectid'],right_on=['_projectid'])
TopUp_Projects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64689 entries, 0 to 64688
Data columns (total 71 columns):
_donationid                                 64689 non-null object
_projectid                                  64689 non-null object
_donor_acctid                               64689 non-null object
_cartid                                     64689 non-null object
donor_city                                  9058 non-null object
donor_state                                 61763 non-null object
donor_zip                                   26292 non-null float64
donation_timestamp                          64689 non-null object
donation_to_project                         64689 non-null float64
donation_optional_support                   64689 non-null float64
donation_total                              64689 non-null float64
donation_included_optional_support          64689 non-null object
payment_method                              64689 non-null object
payment_included_acct_credit                64689 non-null object
payment_included_campaign_gift_card         64689 non-null int64
payment_included_web_purchased_gift_card    64689 non-null int64
payment_was_promo_matched                   64689 non-null object
is_teacher_referred                         64689 non-null object
giving_page_id                              14242 non-null object
giving_page_type                            5002 non-null object
for_honoree                                 64689 non-null object
thank_you_packet_mailed                     64689 non-null object
dollar_tier                                 64689 non-null object
_recipient_acctid                           64689 non-null object
recipient_state                             64689 non-null object
date_redeemed                               64689 non-null object
_redeemed_cartid                            64689 non-null object
Top_Up                                      64689 non-null bool
_teacher_acctid                             64689 non-null object
_schoolid                                   64689 non-null object
school_ncesid                               60308 non-null float64
school_latitude                             64689 non-null float64
school_longitude                            64689 non-null float64
school_city                                 64401 non-null object
school_state                                64689 non-null object
school_zip                                  64689 non-null float64
school_metro                                57214 non-null object
school_district                             64689 non-null object
school_county                               64688 non-null object
school_charter                              64689 non-null object
school_magnet                               64689 non-null object
school_year_round                           64689 non-null object
school_nlns                                 64689 non-null object
school_kipp                                 64689 non-null object
school_charter_ready_promise                64689 non-null object
teacher_prefix                              64660 non-null object
teacher_teach_for_america                   64689 non-null object
teacher_ny_teaching_fellow                  64689 non-null object
primary_focus_subject                       64688 non-null object
primary_focus_area                          64688 non-null object
secondary_focus_subject                     46145 non-null object
secondary_focus_area                        46145 non-null object
resource_type                               64688 non-null object
poverty_level                               64689 non-null object
grade_level                                 64678 non-null object
vendor_shipping_charges                     64689 non-null float64
sales_tax                                   64689 non-null float64
payment_processing_charges                  64689 non-null float64
fulfillment_labor_materials                 64689 non-null float64
total_price_excluding_optional_support      64689 non-null float64
total_price_including_optional_support      64689 non-null float64
students_reached                            64688 non-null float64
total_donations                             64689 non-null float64
num_donors                                  64689 non-null int64
eligible_double_your_impact_match           64689 non-null object
eligible_almost_home_match                  64689 non-null object
funding_status                              64689 non-null object
date_posted                                 64689 non-null object
date_completed                              55704 non-null object
date_thank_you_packet_mailed                52539 non-null object
date_expiration                             64689 non-null object
dtypes: bool(1), float64(16), int64(3), object(51)
memory usage: 35.1+ MB

In [233]:
TopUp_Projects.to_csv('C://Users/Nameetha/Desktop/Stata/TopUp_Projects.csv')

In [91]:
TopUp_Projects.to_csv('C://Users/vivek4/Downloads/donorschoose_data/TopUp_Projects.csv')

In [92]:
TopUp_Projects.shape

(64689, 71)

In [234]:
pd.crosstab([TopUp_Projects.Top_Up],columns=['Top_Up'])

col_0   Top_Up
Top_Up
False    63247
True      1442